[2012-06-29 19:28] phstc opened #1 "Support for Writable Stream"
Hey!

Could you add support for Writable Stream? It can be used on file uploads.

[Class: http.ServerResponse](http://nodejs.org/api/http.html#http_class_http_serverresponse)

Something like that:

[code]

Cheers

[2012-07-08 05:04] #1 closed, assigned to nobody

[2013-01-21 14:43] jzaefferer opened #5 "Please publish latest to npm"
The version currently on npm didn't work for me, but master works fine. Please publish an update.

[2013-01-21 16:05] jzaefferer opened #6 "'end' or 'close' event or callback for response"
The example in the readme assumes that the response is sync. Since I'm testing a wrapper around an actual http API, the response is async, so I need an event or callback. Neither "end" nor "close" seem to get emitted, and I don't think I'm missing something, since the end method doesn't bother.

I can provide a patch, but would like to get confirmation that it would get merged etc.

[2013-01-22 10:48] jzaefferer opened #7 "Make mock request an event emitter, add methods for sending POST body"
When testing an http handler outside Express, there is no `body` field containing the POST body, instead the request has to be handled as a stream and parsed accordingly, e.g. using the formidable module. For that to work, the mock request has to be an event emitter and would need to expose a method for sending the post body, which then triggers the right `data` and `end` events.

I've hacked this

[2013-01-27 23:55] #5 closed, assigned to nobody

[2013-06-25 04:48] newz2000 opened #9 "Response object could use a render method"
Hello, thanks for this, it is a time saver. I'm using createRequest currently. The reason I don't use createResponse is because it lacks a render method and some of my views do: `return render(view, options);`

Therefore in my tests suite I put something like this:

[code]

This allows me to test my view like this:

[code]

I've played around with adding this to mockRequest.js. If you think it wou

[2014-03-17 19:35] robballou opened #12 "Add .headersSent to mockResponse"
The Node ServerResponse class has a property for detecting if headers have been sent:

http://nodejs.org/api/http.html#http_response_headerssent

This would be great if it were supported by this module. Thanks!

[2014-03-27 18:50] joeybaker opened #13 "Publish 1.0.2 to npm"
please?

[2014-03-30 22:34] #6 closed, assigned to nobody

[2014-03-31 00:37] #13 closed, assigned to nobody

[2014-03-31 00:39] #9 closed, assigned to nobody

[2014-03-31 00:39] #7 closed, assigned to nobody

[2014-04-02 00:51] davglass opened #14 "License?"

[2014-04-27 19:55] #14 closed, assigned to nobody

[2014-05-14 21:25] TGOlson opened #15 "Add .originalUrl to mockRequest"
My node controller parses a url form the request using the below form:

[code]

In order to test this, I need to send a request with the above properties, in particular the ```get``` function is required (```req.originalUrl``` will be ```undefined```, but ```req.get(...)``` will throw an error).

However, this mock library doesn't allow for the user to add these 'custom' options to the request. Th

[2014-07-31 23:33] dmazine opened #16 "The error message shown when no match for the request was found should include the server port"
The message shown when `No match for the request was found` should include the server port evidencing that it was correctly set. Consider the example below:

[code]

**Nock: No match for request GET http://localhost/employees/?status=ALL**

The error message suggests that the the server port was not set in the request. It took me some time to realize that the problem was not the server port but th

[2014-08-01 12:33] #16 closed, assigned to nobody

[2014-09-05 18:46] focusaurus opened #17 "requests should be event emitters"
I need to mock doing `req.on('end', onEnd);` and the mock request class does not have the event emitter methods.

[2014-09-11 19:44] alanjames1987 opened #18 "Response header, set, and get Methods Missing"
The `mockResponse.js` does not have a `header`, `set`, or `get` method, which Express does have.

http://expressjs.com/4x/api.html#res.set
http://expressjs.com/4x/api.html#res.get

I will add these and make them aliases of the `setHeader` and `getHeader` methods and submit a pull request soon.

[2014-09-13 00:30] #18 closed, assigned to nobody

[2014-09-24 19:54] alanjames1987 opened #20 "Request header and get Methods Missing"
The `mockRequest.js` does not have a header, or get method, which Express does have.

http://expressjs.com/4x/api.html#req.get

[2014-09-24 20:43] #20 closed, assigned to nobody

[2014-11-24 01:44] samking opened #25 "response.redirect(url) should set the statusCode to 302."
Currently, redirect() without a statusCode will leave the statusCode as -1.  However, a redirect will, in practice, default to a 302.

[2014-11-26 16:07] chitreshd opened #26 "stale "json" method for response"
JSON method for response object in node-mocks-http accepts two arguments: status code and data object. The latest express implementation, only accepts one argument: data object. The problem with this discrepancy is that, if you call "status" and "json" method in a chain(while using node-mocks-http), the status code set through status method is overwritten in json method.

[2014-12-30 19:58] jayeshgangadharan opened #28 "Async support?"
Can i use node-mocks-http for testing async? for eg: I have this in my router which can be reached through GET /category/list

var getData = function (req, res) {
    MongooseCategory.find({}, function (err, docs) {
        if (!err) {
            res.json(200, { categories: docs });
        } else {
            res.json(500, { message: err });
        }
    });
};

In the test
var response = http

[2015-01-10 17:38] knowmad commented on #28
We're having this issue as well. It looks like the problem has been addressed via events. I found this pull request from early last year -- https://github.com/howardabrams/node-mocks-http/pull/11. However, as you'll see in my comment, I've been unable to get it working. Hope you'll have better luck!

[2015-02-15 04:50] frankcash commented on #28
:-1:  has anyone got this to work with async yet?  I will try to meddle more but it'd be awesome if someone else has.

[2015-02-15 04:56] jayeshgangadharan commented on #28
Nope I couldn't, so moved over to [Supertest](https://www.npmjs.com/package/supertest) with sinon for mock/stub.

[2015-02-16 15:58] howardabrams commented on #28
Not really sure how at this point with really changing its simple interface. I'll be curious if your able to come up with a solution.

[2015-02-28 08:11] JohnnyEstilles opened #34 "lib/mockRequests.js throws "path must be a string" error"
PR #30, more specifically commit [6f43349](https://github.com/JohnnyEstilles/node-mocks-http/commit/6f43349d7c2826efa87b221334ec4fbe79598be0), introduced an error on [line 31 of mockRequest.js](https://github.com/JohnnyEstilles/node-mocks-http/blob/master/lib/mockRequest.js#L31).

Running the tests throws the following error:
[code]

I assume the line should read ...

[code]
instead of ...
[code]

[2015-02-28 15:34] #34 closed

[2015-03-01 23:20] JohnnyEstilles commented on #25
Submitted PR #36 to fix this issue.

[2015-03-02 00:25] JohnnyEstilles opened #37 "mockResponse.statusCode should default to 200 not -1"
@howardabrams, as per [your comment](https://github.com/howardabrams/node-mocks-http/pull/36#issuecomment-76617249) on PR #36, I understand the intent of your project is to maintain compatibility between both the Node and Express APIs. (Thanks again for sharing ... this is an awesome mock).

That being the case, it should be noted that Node's `http.ServerResponse` class initializes the `statusCode

[2015-03-02 22:20] JohnnyEstilles commented on #37
Submitted PR #38 to address this issue.

[2015-03-03 16:01] howardabrams commented on #37
Most excellent. I will grab all your changes and bundle them into version
1.2.5 ...

On Mon, Mar 2, 2015 at 2:20 PM, Johnny Estilles <notifications@github.com>
wrote:

[2015-03-04 16:19] JohnnyEstilles commented on #37
Awesome! Looking forward to v1.2.5. :-)

[2015-03-05 04:37] #37 closed

[2015-03-05 04:42] howardabrams commented on #25
Thanks. Added to v1.2.5 that has been published to NPM.

[2015-03-05 04:42] #25 closed

[2015-03-06 09:05] JohnnyEstilles opened #39 "Add .type() to mockResponse"
I suggest we add the Express `res.type()` method to `mockResponse` as described in [http://expressjs.com/4x/api.html#res.type](http://expressjs.com/4x/api.html#res.type).

[2015-03-06 15:35] JohnnyEstilles commented on #39
@howardabrams, the Express 3.x docs show that `res.contentType()` was an alias of `rest.type()`. The Express 4.x docs no longer do. Should we implement `res.contentType()` for backwards compatibility?

[2015-03-06 17:19] howardabrams commented on #39
I don't see why not. It shouldn't hurt or break current tests.

On Fri, Mar 6, 2015 at 7:35 AM, Johnny Estilles <notifications@github.com>
wrote:

[2015-03-07 12:37] JohnnyEstilles commented on #39
Implemented via #42

[2015-03-07 14:06] JohnnyEstilles commented on #26
@chitreshd, your assessment is not entire accurate. While the [Express 4.x docs](http://expressjs.com/api.html#res.json) show the following signature for the `.json()` method:
[code]
Express actually still accepts the following deprecated signatures (and displays a deprecation message):
[code]
Likewise, the `mockReponse.json()` method can be called using any of these signatures. Therefore, the fol

[2015-03-07 14:33] JohnnyEstilles commented on #12
@robballou, I know this issue is a bit old, but I think it would be a great addition to the project. I'm going to work on a PR to add this feature.

[2015-03-07 15:06] JohnnyEstilles commented on #15
@TGOlson / @alanjames1987, AFAICT ... `req.get()` is already implemented (haven't gone back through the history to determine in what version) and `.createRequest()` allows you to set headers. However, `req.originalUrl` has not yet been implemented.

Will edit issue title to reflect this and will start working on a PR to implement this soon.

[2015-03-07 15:36] JohnnyEstilles commented on #17
@focusaurus, the `mockRequest` implementation in this project aims to mock Express' `request` class and Node's `http.IncomingMessage` (which Express' `request` extends), neither of which are event emitters.

It's possible you believe `mockRequest` mocked Node's `http.request`, which is not the case.

If you have any additional questions or comments feel free to reopen this issue.

[2015-03-07 15:40] JohnnyEstilles commented on #26
@chitreshd, I have verified that `mockResponse.json()` works as expected. If you have any additional questions or comments feel free to reopen this issue.

[2015-03-07 15:40] #26 closed

[2015-03-07 15:53] focusaurus commented on #17
Node's http.IncomingMessage subclasses Stream.readable as seen [here](https://github.com/joyent/node/blob/a995a6a776f1b2d01946702190c6ff837c338577/lib/_http_incoming.js#L82).

Stream.readable inherits from stream, which is an event emitter as seen [here](https://github.com/joyent/node/blob/a995a6a776f1b2d01946702190c6ff837c338577/lib/stream.js#L45)

In the repl, you can see that http.IncomingMessa

[2015-03-07 15:58] JohnnyEstilles commented on #17
@focusaurus, you're absolutely right. My apologies. Let me see if I can work on implementing this.

[2015-03-07 16:45] JohnnyEstilles commented on #15
Implemented via #43

[2015-03-09 05:36] #15 closed

[2015-03-09 05:36] #39 closed

[2015-03-09 17:33] JohnnyEstilles opened #44 "Replace JSHint with ESLint for JavaScript validation"
I think we should consider replacing JSHint with ESLint.

I wanted to introduce coding style checks to our coding standards, but given that JSHint has deprecated all coding style checks, we would need another tool for that task. I considered recommending JSCS, but that would mean we would have to run two linters.

With ESLint we get both, static code analysis and style checks, all in one tool.

[2015-03-10 04:14] howardabrams commented on #44
Sounds like a great idea. I haven't heard of it before, but I'll install it and start using it.

[2015-03-10 04:34] JohnnyEstilles commented on #44
@howardabrams, I'm putting together a set of styling guides/coding standards for us. As soon as I have an ESLint config file ready I will submit a PR including it, relevant docs, and any code corrections required to meet the standard.

[2015-03-10 15:29] jasonkarns opened #45 "Associate a req with res and vice versa"
req.res should exist, as should res.req.

I'm not sure if there should be a single api method that creates both req and res under the hood (and returns both as array? or object? or just one or the other?)

Or if the createRequest/createResponse methods should accept the other half of the pair and do the wireup?

Or if there should be a separate utility method that just accepts already-created req/

[2015-03-10 16:11] JohnnyEstilles commented on #45
@jasonkarns, thanks for pointing this out.

I think your last suggestion is the way to go. We should probably simulate the way Express does it at the moment. Express assigns these to each other at the beginning of the middleware lifecycle, in the [init middleware](https://github.com/strongloop/express/blob/master/lib/middleware/init.js).

Regardless of how we do it, I suspect this will be a breaki

[2015-03-11 07:33] JohnnyEstilles commented on #44
These are the `JSLint` rules I intend to implement. I'm submitting a PR for peer review.

[code]

[2015-03-13 02:58] JohnnyEstilles commented on #44
The next step will be to document these in our contributing guidelines.

[2015-03-17 21:18] jaslo opened #47 "Need events"
I am trying to use this library to make calls into my express app, but the data is returned with "res.send" and "res.end".  So in my caller, I try to listen to those emitters, but they are all stubbed out!  Why not use the real event module?

req = mocks.createRequest(..)
resp = mocks.createResponse(..)
resp.on('end', function() { check resp._getData });
app.handle(req,resp); // call into express

[2015-03-17 21:28] JohnnyEstilles commented on #47
@jaslo, you're absolutely correct. This is a duplicate issue (see #17).

We intend to make both `mockRequest` and `mockResponse` event emitters, to better mimic the Express objects. This work is slated for our next major release. Please follow #17 for updates on this issue.

[2015-03-17 21:30] jaslo commented on #47
I forked the code simply substituted "require('events').EventEmitter" instead of the mockEventEmitter.
It worked great for my purposes!  If you want me to submit a pull request, I can.

[2015-03-17 21:38] JohnnyEstilles commented on #47
I really appreciate the offer, but there's no need for a PR. The current code base already supports using a custom event emitter.

You can replaced the `mockEventEmitter` by passing an `eventEmitter` option to `.createcreateResponse()`.

[code]

[2015-03-17 22:21] JohnnyEstilles commented on #47
Duplicate issue (#17) ... closing for now. If need further assistance feel free to reopen the issue. Thanks!

[2015-03-17 22:21] #47 closed

[2015-03-18 00:31] jaslo commented on #47
Thanks, that's a much better solution than creating a new branch.

[2015-03-18 15:16] howardabrams commented on #44
+1!

[2015-03-18 15:18] howardabrams commented on #44
Perfect. Thanks for kicking this project into high gear!

[2015-03-18 15:21] JohnnyEstilles commented on #44
My pleasure. Next step after the code style guide is a road map. Let me know if you have any input/ideas in mind. I have an idea of where I would take the project, but this is your project. :-)

[2015-03-19 00:14] estilles opened #49 "mockResponse.send() does not call .end()"
`mockResponse.send()` should call `.end()`
- Express' implementation of `response.send()` calls `.end()`
- Since `.end()` is not never called `._isEndCalled()` returns `false` after calls to `.send()`

[2015-03-19 00:58] JohnnyEstilles opened #50 "mockRequest.header() doesn't handle the `Referrer` header field edge-cased"
According to Express:

`mockRequest.header()` does not currently handle this edge-case.

[2015-03-19 11:22] JohnnyEstilles commented on #49
Deferring implementation until `v1.3`. Correct implementation of `.send()` requires features being added in `v1.3`.

[2015-03-19 11:47] JohnnyEstilles commented on #50
Fixed via 984afca7562caa0cedd1ffe99492e5b2bc2ee1b7

[2015-03-19 11:47] #50 closed

[2015-03-19 22:36] JohnnyEstilles commented on #49
Deferring implementation until v2.0. Implementation will introduce BREAKING changes.

[2015-03-20 05:20] JohnnyEstilles commented on #28
@jayeshgangadharan, I know I'm relatively new to this project, but I would like to give my two cents on this issue.

1. Your idea to use `sinon` is spot on. That is exactly what you should be using. That said, just like you used `sinon` with `Supertest` you could have also done so with `node-mocks-http` as well.
2. I believe that within your unit tests you should be testing your code and not third

[2015-03-20 05:22] JohnnyEstilles commented on #28
@howardabrams ... I'm closing this issue for now. If anyone believes it requires further discussion, please feel free to reopen.

[2015-03-20 05:22] #28 closed

[2015-03-20 05:24] JohnnyEstilles commented on #17
We're scheduling this feature for our `v2.0` release.

[2015-03-20 05:57] JohnnyEstilles commented on #12
Deferring fix for this issue until `v2.0`.

[2015-03-21 05:31] JohnnyEstilles commented on #44
Docs added via #51. Closing issue.

[2015-03-21 05:31] #44 closed

[2015-03-22 08:33] marneborn opened #52 "problems with mockRequest in Express sessions"
I'm writing some tests for my sessions handling and have found two minor problems.
In express 3, sessions throws an error if req.signedCookies is not set.
```    var unsignedCookie = req.signedCookies[key];```
This seems to have been fixed in express 4, but that's based on reading the code, not trying it...
.
Second, mockRequest.session is set to {} by default but the session isn't created if req.

[2015-03-22 08:39] JohnnyEstilles commented on #52
@marneborn, thanks for reporting this. I will try to reproduce both these issues.

[2015-03-22 09:06] JohnnyEstilles commented on #52
I have been able to verify that `req.session` should be `undefined` by default. I will work on a fix for this issue ASAP.

[2015-03-22 09:14] JohnnyEstilles commented on #52
I have also been able to verify that `req.signedCookies` should also be `undefined` by default. It is initialized to an empty object by [cookie-parse](https://github.com/expressjs/cookie-parser) when used. Will also work on a fix for this ASAP.

[2015-03-24 07:45] JohnnyEstilles commented on #52
@marneborn, I've implemented a fix for your issues (see release notes for [v1.2.7](https://github.com/howardabrams/node-mocks-http/releases/tag/v1.2.7)). The following is now the default behavior or `mockResponse`:

- `.session` defaults to undefined (must explicitly be set by passing options to `.createRequest()` or using `._setSessionVariable()`)
- `.signedCookies` defaults to undefined (now you

[2015-03-24 07:45] #52 closed

[2015-03-25 13:54] jasonkarns commented on #45
So something like: `httpMocks.init(mockReq, mockRes);`

[2015-03-25 14:01] JohnnyEstilles commented on #45
Actually, after studying the Express `4.x` I noticed we're missing a number of other object references. We intend to mimic Express' structure as much as we can. We've scheduled these changes for version `2.x`.

[2015-03-25 14:15] jasonkarns commented on #45
Where does this leave this issue? I don't see a 2.x branch in development or anything. Does this mean you don't want any PR for it?

[2015-03-25 14:18] JohnnyEstilles commented on #45
`1.3` will be out in a few days with a number of additions in preparation for `2.0`. The `2.x` branch will be out shortly after that. You're welcome to contribute.

[2015-03-25 14:19] jasonkarns commented on #45
Cool. I'll wait till then to do any work on it.

[2015-03-29 03:00] mustapha-wang opened #53 "Cannot read property 'pipesCount' of undefined"
node.js：0.10.24
express:4.12.3
express-session:1.10.4
body-parser：1.12.1
cookie-parser:1.3.4
node-mocks-http：1.2.7

at Function.proto.process_params (/home/bae/app/node_modules/express/lib/router/index.js:321:12)
 at /home/bae/app/node_modules/express/lib/router/index.js:270:7
 at trim_prefix (/home/bae/app/node_modules/express/lib/router/index.js:300:13)
 at Layer.handle_error (/home/bae/app/node

[2015-03-29 03:18] JohnnyEstilles commented on #53
@mustapha-wang, can you share the code of your test/spec and the handler you're testing? I don't see `node-mocks-http` anywhere in your tack trace, so I'm not quite sure I understand the issue you're reporting.

[2015-03-30 01:59] estilles opened #54 "Roadmap towards 2.0 - Requests for Comments"
## Roadmap  to node-mocks-http v2.0

We want `node-mocks-http` to provide Express `4.x` compatible `request` and `response` object mocks. As with `1.x` we want `2.x` to be as lightweight and dependency free as possible.

The list below is a first draft of our roadmap towards `2.0`. It is by no means comprehensive or final. Comments, questions and requests are most definitely welcome.
### Proposed

[2015-04-02 01:13] JohnnyEstilles opened #55 "Replace unit testing framework with mocha/chai/sinon/istanbul"
## Mocha, Chai, SinonJS and Instanbul
I believe we can improve our unit testing by implementing a more flexible framework, with more readable assertion library, better isolation of the unit of code being tested, and code coverage reporting. I propose that we:

- [x] replace nodeunit with [Mocha](http://mochajs.org/)
- [x] use [Chai](http://chaijs.com/) as the assertion library
- [x] use [SinonJS](

[2015-04-02 01:40] JohnnyEstilles commented on #45
@jasonkarns, I've added our roadmap for our  `2.0` release (issue #54). It is a complete overhaul of **node-mocks-http**, which includes a solution for this issue.

[2015-04-04 05:26] howardabrams commented on #55
The original tests for this project were written in Mocha years ago, but figured I should convert the mocking project to use the built in testing framework so that other people would have a lower barrier to submit pull requests.

That said, Mocha is much better, and installing packages is pretty simple for any one who'd like to help. I have not used Chai, Sinon or Instanbul, but they look intrigui

[2015-04-04 05:38] JohnnyEstilles commented on #55
@howardabrams! Wasn't aware that Mocha was the original testing framework. I guess I haven't gone back for enough into the historical commits. :-)

Running the tests will be as simple as `npm test`. Nothing out of the ordinary there. Chai and Sinon will be use within the unit tests themselves, so they will have no impact on how the tests are run. Istanbul will be run as part of the test script (pr

[2015-04-04 16:09] howardabrams commented on #55
Great. I do not have an opinion on Grunt vs Gulp (haven't heard of that... of course, I'm so out of the Node loop right now, that doesn't surprise me).

[2015-04-08 01:24] JohnnyEstilles commented on #55
I've already completed the test framework overhaul. The task list in my opening comment enumerates all the changes. All the work is already merged into master, and is ready to be released in `1.4`.

[2015-04-08 01:24] #55 closed

[2015-04-11 16:27] estilles opened #56 "*** Feature Freeze Notification for 1.x Branch ***"
## Feature Freeze

**node-mocks-http** is now on feature freeze, as we prepare for our `2.0` release.

If necessary we will create `1.4.x` bug fix releases, but no new features will be implemented in the 1.x branch.

Please see issue #54, to track the progress of our `2.0` release.

[2015-05-29 10:31] chmanie commented on #28
This my (first) take on simple async testing with this library:

https://gist.github.com/da3c150cc8fda254a1a5

[2015-05-29 11:24] JohnnyEstilles commented on #28
@chmanie, that's a nice solution. Thanks for sharing. The solution I provided above intended to use `node-mocks-http` as-is. That said, in the next version of the project (see our roadmap in issue #54) the mocked response object will be an event emitter (much like Express' response object), so your solution could easily be implemented.

Thanks again for sharing! :-)

[2015-06-14 04:14] joerx opened #62 "TypeError when passing custom eventEmitter to createResponse"
Caused by below piece of code (in `mockResponse.js`). `eventEmitter` passed in via options overrides included `EventEmitter` module, then trying to create new instance triggers `TypeError: object is not a function`

[code]

[2015-06-14 19:08] hallucynogenyc commented on #28
I don't understand where the trouble is. What's wrong with the out-of-the-box way:

[code]

[2015-06-14 19:11] hallucynogenyc commented on #28
What's wrong with this out-of-the-box solution?

[code]

[2015-06-14 21:37] chmanie commented on #28
Some of the functions (e.g. `res.json()` and `res.emit()`) don't call `res.end()` per default.

[2015-06-18 08:22] JohnnyEstilles commented on #62
@joerx, thanks for reporting this. I have not been able to reproduce the issue. If I understood you correctly, the error is thrown when you pass a custom event emitter to `mockRepsonse`. I my interpretation correct?

Would you be kind enough to show your code, to help me reproduce the error on my end?

Thanks!

[2015-06-19 00:45] JohnnyEstilles commented on #28
@chmanie, thanks for point that out. We are currently aware of some the current inconsistencies in the implementation. We're in the process of overhauling `node-mocks-http`, and the `2.0` version should correct all of these inconsistencies. If there's something in particular that you need urgently fixed in the `1.x` track just open a new issue and let us know what you need. We will be happy to acc

[2015-06-22 02:30] joerx commented on #62
It was actually a misconception on my side on how to use your api. However, I feel the 'correct' way it rather counterintuitive. I created a gist to illustrate my problem: https://gist.github.com/joerx/6b387bb3dfe00d36573f

It boils down to this piece:
[code]

The issue is that `createResponse` expects the constructor for EventEmitter to be passed in, not an actual emitter, as I expected. It would

[2015-06-22 02:34] joerx commented on #62
To be more precise, I would expect to have the event-system in a mocked response to actually work out of the box, so asynchronous code can be tested by listening to the `end` event. With the current default (using a bogus emitter) only synchronous handler code could be tested. Or am I missing something?

[2015-06-23 21:46] shermany commented on #49
How are you supposed to use this module without this functionality? Assuming your handler function makes _any_ kind of async call, and the response will be written in a callback, you can't call the handler function and just start making asserts against your mock `request` object.

I looked at the source, and ended up with something like this:
[code]
but alas the 'end' event is never emitted, and m

[2015-06-23 23:42] JohnnyEstilles commented on #49
@shermany, this will work out of the box in `2.0`. In `1.x` you can do it by using your own event emitter (i.e. Node's `EventEmitter`). In the meantime try using the code below.

[code]

[2015-06-23 23:48] JohnnyEstilles commented on #62
@joerx, unfortunately, the event system in the current release does not work out of the box. As you already figured out, it requires you to BYO event emitter (so to speak). That said, we do intend have `mockResponse` inherit from Node's `EventEmitter` in the next version. Feel free to check out our `2.0` roadmap (issue #54). Comments are always welcome.

[2015-06-24 00:33] JohnnyEstilles commented on #62
I have also updated our [README](https://github.com/howardabrams/node-mocks-http) with a note explaining this situation. Thanks for bringing up the issue.

[2015-06-25 11:19] tamlyn opened #63 "res.send vs res.json"
According to [the Express docs](http://expressjs.com/api.html#res.json) calling `res.send({foo: 'bar'})` is identical to calling `res.json({foo: 'bar'})`. However in the [mock response](https://github.com/howardabrams/node-mocks-http/blob/ae6c785d5a741a517e0f6a4602ba580e21a6add4/lib/mockResponse.js#L228), these are handled differently with only `json` setting the content type header and stringifyi

[2015-06-26 00:43] JohnnyEstilles commented on #63
@tamlyn, you're absolutely correct. This is schedule to be fixed in `2.0`. If you need this urgently let me know and I will push a fix for it this weekend.

[2015-06-26 06:45] tamlyn commented on #63
Thanks. It's OK, I've worked around it but it caused me a bit of confusion. Glad to hear you're on it.

[2015-06-27 14:27] JohnnyEstilles commented on #63
No worries. Since this issue will be resolved in `2.0` (issue #54) I will close this issue for now. Feel free to re-open it of you need to.

[2015-06-27 14:27] #63 closed

[2015-06-27 14:31] JohnnyEstilles commented on #62
I will consider this issue resolved (docs updated via f923e144eafc5d4a134377832816ba1b31eebc63). I'm closing the issue, but please feel free to re-open it if you need to.

[2015-06-27 14:31] #62 closed

[2015-06-27 14:33] JohnnyEstilles commented on #53
@mustapha-wang, I'm closing this issue for now. You did not provide us with enough info to reproduce the error. Feel free to re-open and provide additional information.

[2015-06-27 14:33] #53 closed

[2015-06-29 16:51] forwardadvance commented on #49
It doesn't appear to emit events correctly at the moment, even with the above.

    var req = mocks.createRequest({
      body: demoUser,
      session:{}
    });
    var res = mocks.createResponse({
      EventEmitter: require('events').EventEmitter
    });
    sessionController.create(req, res);
    res.on('end', function() {
      console.log("W00t!!!!!");
      next();
    });

W00t!!! is neve

[2015-07-15 23:38] jvwing commented on #17
I worked around this issue by mashing an instance of [node-memorystream](https://github.com/JSBizon/node-memorystream) with node-mock-http's mockRequest. The mockRequest is then a stream, complete with event support sufficient to fool body-parser.  The end() method is used to flush the stream.

Underscore hackery aside, this seems like a reasonable approach to supporting request-as-stream.  Would

[2015-07-28 09:06] tugkan opened #67 "Readme Update"
The json object is wrong in the following code piece.

var res = httpMocks.createResponse({
  EventEmitter: require('events').EventEmitter;
});

It should be:

var res = httpMocks.createResponse({
  EventEmitter: require('events').EventEmitter
});

[2015-08-04 11:32] aaronjameslang opened #68 "createRequest ignores path option"
If a path but no url is supplied to createRequest, the path is ignored.

This should be an easy fix, I'll submit a pull request when I've fixed it.

[2015-08-04 16:17] aaronjameslang commented on #68
https://github.com/howardabrams/node-mocks-http/pull/69

[2015-08-04 16:28] aaronjameslang opened #70 "Auto-populate request.url"
When a client calls http.request with a path but no URL, the server receives a Request object containing a URL but no path.

As I understand the aims of this project, we should try to mimic this behaviour. I.e.  createRequest should auto-populate the URL property in a similar manner.

[2015-08-04 16:47] aaronjameslang commented on #70
#71

[2015-08-27 17:30] TravelingTechGuy opened #73 "Response does not emit events"
Tried following instructions and samples - to no avail - the response object never fires an event. Not `end`, not `send`.

Here's a simple function (using Express 4.*):

[code]

And here's my test. It times out.

[code]

I resorted to the commented line at the end, that fires `done()` using setTimeout. Obviously, not the right way to go. What do I have to do to get the event triggered on `res`?
(B

[2015-09-22 18:48] jshcrowthe commented on #73
@TravelingTechGuy I had the same issue here today. The issue for me turned out to be that the property `EventEmitter` actually needed to be camel case (So: `eventEmitter`).

The docs give the following example:
[code]

I believe it needs to be updated to

[code]

[2015-09-22 19:04] TravelingTechGuy commented on #73
Tried it - still not being triggered, and I get a timeout :(

[2015-09-22 20:57] jshcrowthe commented on #73
Good call, I just refactored some of my code to account for that.

[2015-09-23 18:21] howardabrams commented on #73
Is this behavior acceptable?

[2015-09-23 20:18] jshcrowthe commented on #73
@howardabrams I'm fine with it seeing as it is documented (thanks for that!). Passing an `eventEmitter` can be useful but not having one at all just seems inconsistent with the concept of a `response` so if I had my way I'd love to see there being a functional default.

More than anything I'd recommend that the docs giving an example of this have the `eventEmitter` properly camel cased to avoid co

[2015-09-24 03:29] TravelingTechGuy commented on #73
I second what @jshcrowthe said: proper (working?) examples would help.
I would like to see a working event emitter (i.e., not dependent on the call order), but I can work with it as it is right now - again, proper documentation will prevent future questions.
But I do thank you for all your efforts @howardabrams!

[2015-09-24 20:37] howardabrams commented on #73
If you have some time to give me a pull request on the documentation change
you'd like to see, I would appreciate it (as I love having this project be
a community affair).

On Wed, Sep 23, 2015 at 8:29 PM, Guy Vider <notifications@github.com> wrote:

[2015-09-25 17:40] jshcrowthe commented on #73
@howardabrams I'll try and put together a PR to fix the docs and possibly introduce a standard `eventEmitter` as a default.

[2015-10-28 05:07] #67 closed

[2015-10-28 05:07] howardabrams commented on #67
Fixed in v1.5.0

[2015-10-28 05:11] #70 closed

[2015-10-28 05:12] howardabrams commented on #68
Guess we can close this now, eh? ;-)

[2015-10-28 05:12] #68 closed

[2015-10-28 16:29] evanshortiss commented on #17
Hey,

I came across this also and just added the following in _mockRequest.js_:

[code]

This allows me to fire events on the _mockRequest_ in test cases. Happy to submit a PR.

[2015-10-28 16:31] evanshortiss commented on #17
Here's a sample commit [link](https://github.com/evanshortiss/node-mocks-http/commit/54c96a2681371b08ede063120b4cda51e4ac86ed) with the change.

[2015-10-29 09:58] aaronjameslang commented on #68
Yeh, thanks. Who's responsible for closing issues? Should I have done it
when the pull request was accepted?

On 28 October 2015 at 05:12, Howard Abrams <notifications@github.com> wrote:

[2015-10-30 04:27] howardabrams commented on #68
Sure! Go for it. Thanks again for helping.

[2015-12-10 13:05] hatchan commented on #49
This should also apply to `mockResponse.json()`. The `_isEndCalled` always returns false.

[2016-01-12 08:59] NIM-Pro commented on #53
Please, reopen issue. I got the same error.
Code:
[code]

Error stack:
[code]

[2016-01-15 18:56] catdad opened #83 "cannot test statusMessage with a mock response"
I cannot find a way to test the statusMessage set on the response. I see a `response._getStatusCode()` for the code, but nothing for the message. Am I missing something?

I have a patch for this in my project, and will probably look to submit it here if indeed there is no way to get it.

[2016-01-27 17:04] evanshortiss opened #85 "Response headers - Ignore Case"
Would it be useful to ignore the case of response headers? For example, have _res.getHeader_ return the value regardless of being passed "content-type" or "Content-Type"?

[2016-01-28 21:56] dsteinbach opened #87 "Assertion errors not logged in console"
The following mocha code will timeout instead of displaying the assertion error:

[code]

**Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test.**

If I set it to validate against length 0, the test passes fine.

[2016-02-09 22:37] blimmer opened #88 "response.sendFile not defined"
Express 4.8.x ++ supports `.sendFile` to send a file from the filesystem ( [docs](http://expressjs.com/en/api.html#res.sendFile) ). Looks like that's not supported currently on the return from `createResponse`.

[2016-02-13 06:15] banks opened #89 "Response.headersSent not set"
Node's API includes: https://nodejs.org/api/http.html#http_response_headerssent

This has two problems when mocking:
1. if your code (erroneously) calls `res.writeHead` _after_ data is written to body, the mock just updates the header values so it appears to work OK (for some definition of OK - it's hard to tell from data output in all cases anyway).
2. `mockResponse.headersSent` is always `undefi

[2016-03-03 00:10] BenCoffman opened #91 "How do you use mock-express.js"
The library works great, but since my controller uses express and has a few extra libraries injected in via app.use like express-validator, the request fails out because it doesn't have a few of the methods.

It looks like someone set it up for an express request, but there is no documentation on how to use it.

[2016-03-15 17:34] agalazis opened #93 "Support XHR request mock"
Having an option for xhr that would  be set to true would be really helpful
It should set `req.xhr` to `true` and  `req.headers["x-requested-with"]` to `'XMLHttpRequest'` and anything else that I needed to replicate the xhr request?

[2016-03-31 17:31] jmnsf opened #94 "Support res.format"
[`res.format`](http://expressjs.com/en/api.html#res.format) is super useful for having an endpoint that handles multiple Accept headers. Without this, these endpoints can't be tested.

[2016-04-01 06:36] Vishal-Joshi commented on #94
Same issue! When can we expect a resolution for it? I am stuck because of it and my controller cant be tested without its support?

Did you find another alternative @jmnsf meanwhile fix arrives?

[2016-04-01 07:18] jmnsf commented on #94
@Vishal-Joshi I've mocked the behaviour, temporarily. Not a very elegant solution since it is heavily coupled to the formats Object provided, but works for the time being.

[code]

Doing it in `httpMocks` requires a reference to the Request headers from the mockResponse that isn't there atm.

[2016-04-01 09:23] Vishal-Joshi commented on #94
What is this 'formats' object? @jmnsf

[2016-04-01 09:53] jmnsf commented on #94
The argument to `res.format`, has all your handlers per format.

[2016-04-01 09:55] Vishal-Joshi commented on #94
No, I am asking about the 'formats' object which you are assigning to httpMocks.createResponse().format?

[2016-04-02 04:10] howardabrams commented on #94
I could really use some help on this one. Would either of you like to attempt a pull request with your approach? Tests to explain how it should be used would be great too!

[2016-04-27 21:54] #85 closed

[2016-04-29 09:13] wheresrhys opened #95 "Add a circular reference"
`response` objects throw a circular reference error when passed to `JSON.stringify` whereas these mock response objects do not. For better fidelity to the objects they're mocking it'd be good to replicate teh circular references responses contain (I haven't looked into this in too much depth yet - it may only apply to express response objects)

[2016-05-05 12:21] yisraelx commented on #53
I think it happens when:
Incoming request => Page not found => Express tries to return a 404 error => This error occurs

[2016-06-16 05:54] diasdavid commented on #53
Any update on why this error happens? Thank you

[2016-07-19 23:41] Britskiy opened #97 "Files sending, how to test multiparty?"
Hello, im using **multiparty** extension for nodejs.
How can i test my app with **node-mocks-http** ?

I try

[code]

nothing(

can you show how to do that?
**Thnks for the great testing tool!!!**

[2016-07-29 12:45] 19majkel94 opened #99 "Typescript definitions file"
Could you make the Typescript definitions file (*.d.ts) of this module?
https://www.typescriptlang.org/docs/handbook/writing-declaration-files.html

It's a great tool for writing in TS or JS because it provide intellisens, code completion, error checking before compilation and other amazing stuffs which makes developer life much easier ;)

[2016-07-29 15:01] howardabrams commented on #99
Since I'm not familiar enough, could you try to and make a Pull Request? Thanks!

[2016-08-02 18:12] #94 closed

[2016-08-18 09:13] parky128 opened #101 "Can you mock your own responses with this library"
Hello,

I came across this library and was wondering can it be used to provide a mock response when a request is made?

I have been looking at nock which allows for this, but couldn't see anything similar with this library, unless I have misunderstood the docs.

Thanks

[2016-08-26 16:21] scottnath opened #103 "mock-express available for use"
Hi team,

I would like to use [mock-express](https://github.com/howardabrams/node-mocks-http/tree/master/lib/express) to test out some init files in my Express.js application. These init files, among other functions, send my express app through app.use ([example](https://github.com/punchcard-cms/punchcard/blob/a30e5c2ecc8b9072d671365bcc802e9c5b03ef40/lib/init/logger.js).)

I don't see a way to acc

[2016-09-13 13:56] jasonkarns opened #105 "npm and github versions are way out of sync"
npm shows current version is 1.5.3 but github shows only 1.4.3

How is github so far behind? Are tags not getting pushed? Commits missing on github?

[2016-09-14 04:45] howardabrams commented on #105
Doh!

I'll get better at keeping Github in sync.

By the way, if any one is interested in helping me maintain this project, I'd appreciate it.

[2016-09-14 04:45] #105 closed

[2016-09-14 12:44] jasonkarns commented on #105
FYI, you can just do `npm version <patch|minor|major>` to bump versions when doing a release. That will bump the version in package.json, do a git commit and git tag automatically.

And if you add the following as a script to package.json:

[code]

then it will automatically be published to npm and pushed to github all automatically. (Since it appears that even with 1.5.4 released on github, that

[2016-09-14 14:33] scottnath commented on #105
Over at [Punchcard CMS](https://github.com/punchcard-cms) we've set up [our own repo](https://github.com/punchcard-cms/semantic-release) which uses [semantic release](https://github.com/semantic-release/semantic-release). Semantic release controls the semantic versions according to the emoji used in commit messages. ([our emoji cheatsheet](https://github.com/punchcard-cms/punchcard/blob/master/CON

[2016-09-16 15:09] scottnath commented on #103
@howardabrams I took a stab at opening this up, but it seems like a lot of the dependencies for it were not in `package.json`. Is that because the mock-express section is not  yet complete?

thanks,
Scott

[2016-09-30 09:30] PepijnSenders opened #108 "Please remove lodash.assign"
Your package is depending on: `lodash.assign` which was recently deprecated.

The warning:

[code]

The tree:

[code]

Please refactor accordingly.

[2016-10-02 16:28] howardabrams commented on #103
Yeah. Feel free to make whatever changes are necessary in your PR, and then we can talk about a way to make this work for existing users. Thanks!

[2016-10-04 10:03] acanimal commented on #91
Any feedback? I'm in the same situation.

[2016-10-04 10:38] IgorAufricht commented on #108
I noticed the same thing, but I'm not sure if this is by design or by mistake, so I created an issue for lodash developers:
https://github.com/lodash/lodash/issues/2701

[2016-10-19 13:45] devanshug opened #109 "can't send an empty response with status 204 No Content?"
I am trying to work on some REST APIs, but a specific test case fails because I am getting the error
`Unexpected end of JSON input`
I have checked the API is working fine, only the test case part where node-mocks-http is used fails. Sending empty response is supported in express module. Is this behaviour kept this way, or I am missing something here.

[2016-10-19 13:51] #109 closed

[2016-10-20 06:33] devanshug commented on #109
Found a problem in my test case, I was trying to parse the response.
`let body = JSON.parse(res._getData())`

[2016-10-21 13:15] howardabrams commented on #109
Great. Glad you were able to solve it.

[2016-10-26 08:53] howardabrams opened #110 "Get more people involved with maintaining this project"
I put together this package when the company I was employed was building a node-based project. That project is over and I'm no longer with that company either. I'm sorry to say that I currently have no Node-based projects, and consequently don't use this mocking project. Since it is useful to a lot of people, I don't want it to become abandonware.

I'm reaching out to the community to see if they

[2016-10-28 08:12] SeanHayes commented on #101
nock intercepts live http requests. This library provides mock request and response objects for use in unit testing.

[2016-11-02 11:39] bweston92 opened #111 "Unable to write to response."
When trying to pipe a file to a response I get a TypeError thrown. See below for details.

[code]

Error given:
[code]

[2016-11-10 08:33] nabilfreeman commented on #53
Came here from Google...

I also had this error when encountering a 404 in https://github.com/AminaG/node-run-middleware. Thus it may be lower-level code in a shared dependency rather than this module.

[2016-11-25 17:12] #103 closed

[2016-11-30 20:27] SeanHayes opened #112 "No `finish` event, `end` event called when it shouldn't be."
I noticed a discrepancy between my handlers running in a live env and running during tests. In test using a mock response the `end` event gets called, but it doesn't get called in production. The node docs say that the `end` event should only get called when the stream is in flowing mode: https://nodejs.org/api/stream.html#stream_event_end

Conversely, in a live env the `finish` event gets fired o

[2016-12-01 05:20] devanshug opened #113 "Is there any next function to test controllers/middleware?"
Hi,

I am testing a controller function, so apart from request and response I would require next function as well.

The function does return with response when a header matches, otherwise calls next() and let the url be 404 Not Found, Cannot GET /v1/guidelines.

function showGuidelines(req, res, next) {
    if(header does not match...)
        next();
    else
        // fetch Guidelines
        r

[2016-12-05 07:02] tallytarik opened #117 "req.subdomains is not defined"
Just wanted to start off by saying thanks for an awesome project! I've just started using this to test some middleware and I'm having some issues because `req.subdomains` isn't defined, and I'm testing some middleware that checks the current subdomain.

I've been having a browse and I can see in ./express/mock-request.js it looks like it's implemented the same way Express implements it, but it loo

[2016-12-07 19:08] howardabrams commented on #117
A PR would be great. Do you have personal test cases that expose this
deficiency?

On Sun, Dec 4, 2016 at 11:02 PM, tallytarik <notifications@github.com>
wrote:

[2016-12-12 10:06] tomi opened #119 "'end' event is triggered twice"
Starting from v1.5.5 'end' event can be triggered twice for the mocked response. In v1.5.4 it was triggered only once.

[code]

[2017-01-02 15:41] fidian opened #121 "Restify and response.header()"
The Restify framework allows one to retrieve a header's value from the response by using `res.header("name")`.  The expected return value is the header's value.  This is not possible with the current node-mocks-http module.  The problem comes up when I use restify-cookies to set cookies on the response.  It uses `res.header("Set-Cookie")` to retrieve the current value so it can append additional c

[2017-01-02 15:45] fidian opened #122 "Unable to assign the IncomingMessage object used in the response."
This is something that the request object supports but not the response.  Restify directly uses `http.IncomingMessage` and adds methods to its prototype.  I don't support this approach, but I didn't write the module.  The mock request module uses EventEmitter.  If I could have it use an alternate EventEmitter, that would be wonderful.  The response mock already allows this but the request is lacki

[2017-01-07 05:23] howardabrams commented on #122
Hrm ... wanna give us a prototype as a PR of what you are thinking?

[2017-01-07 05:24] howardabrams commented on #121
Just extending functionality, seems reasonable. Can you make a PR with a test to demonstrate it? Thanks!

[2017-01-11 16:17] fidian commented on #122
Nevermind, I see this was added in 3de826b02e0f2817d2fad6298c0c100a9abb471e and is published in the latest version in npm.

[2017-01-11 16:17] #122 closed

[2017-01-11 16:28] fidian commented on #121
I have done as you asked.

[2017-01-15 19:46] howardabrams commented on #121
Great. Thanks. Do you have time to get the unit tests working, and then I'll merge it.

[2017-01-15 20:13] fidian commented on #121
At this point I am starting to question your dedication to the project.  I made no complaints about the tests and they ran successfully when I used `npm test`.  There were no linting problems when `npm test` finished on my machine, or at least none that I can recall.  I take it that you don't want to change the quoting style yourself and eliminate the `else`?

If I get back to a computer sometime,

[2017-01-16 12:34] #111 closed

[2017-01-16 15:11] fidian commented on #121
This was resolved when pull request #123 was merged.

[2017-01-16 15:11] #121 closed

[2017-01-16 23:25] howardabrams commented on #121
Your point about dedication isn't far off. I don't use Node anymore, and have no projects that do, so I'm not sure how to expand or address the deficiencies in this project. I am looking for either helper volunteers or someone to take over shepherding this project, so if you know of someone, point them my way.

Thanks for understanding.

[2017-01-17 19:17] fidian commented on #113
It seems odd that you would have scenarios where the `next()` callback is not called.  However, I believe your solution can be achieved in the test itself.

    it("sends the header", function () {
        controller(req, res, jasmine.fail);
        // Add header tests here
    }

    it("calls next", function (done) {
        var nextCalled = 0;
        controller(req, res, function () {

[2017-01-17 19:21] fidian commented on #95
Is the circular reference used by a framework?

[2017-01-17 19:25] fidian commented on #121
I don't think I have the time to take on another project, but I submitted some pull requests with the intent of helping a bit with yours.

[2017-01-23 14:59] danallen88 commented on #49
@forwardadvance - A couple things you've probably gleaned from other threads, but:

`var res = mocks.createResponse({
  EventEmitter: require('events').EventEmitter
});`

should be

`var res = mocks.createResponse({
  eventEmitter: require('events').EventEmitter
});`
Note the camel casing on the `eventEmitter` property.

It's probably worth moving your event handler for the `'end'` event before ma

[2017-01-23 15:20] fidian commented on #119
@tomi Does my fix correct the problem you were experiencing?

[2017-01-23 18:35] samjbmason commented on #91
Im also in the same situation anyone getting anywhere with it?

[2017-01-23 18:49] samjbmason opened #128 "Access to .acceptsLanguages() express method"
It would be great if we could get access to the request method `.acceptsLanguages()` to bring it up to the same api as Express

[2017-01-23 20:04] danallen88 opened #129 "mockResponse.cookie does not follow the builder pattern"
If my code under test has something like `res.status(200).cookie('name', 'value').send('stuff')`, then the `send` method will never get called (and consequently the `end` event will not fire) because the mockResponse.cookie method does not support chaining.

[code]
I suspect this could be fixed by ending the method with `return this;`

[2017-01-24 10:07] samjbmason commented on #91
@howardabrams Any small piece of info to get started would be really helpful and really appreciated.

[2017-01-24 11:41] acanimal commented on #91
Hi, next is a piece of code to test a middleware I'm working on responsible to make redirections depending on the requests. Hope it helps.

Note I have also stubbed `request.get()` because it is used within my `subdmainRedirector` middleware.

[code]

[2017-01-24 11:53] samjbmason commented on #91
@acanimal Im guessing you don't have access to methods on the `request` though e.g `.acceptedLanguages()` as you're just using the plain `createRequest`?

[2017-01-24 13:41] acanimal commented on #91
ough!!! you are right. Not much help then :(

[2017-01-24 13:50] acanimal commented on #91
I think that part is not finished yet. The  `mock-express.js` module tries to include `mock-response` which doesn't exists.

[2017-01-25 05:30] howardabrams commented on #129
Interesting idea. We would probably want all other functions to do that too.

Can't think of what would be the downside to this. This shouldn't break backward compatibility, would it?

[2017-01-27 13:05] danallen88 commented on #129
I wouldn't think it would break backward compatibility.  We would just want to be careful to only implement it for express methods that support chaining.  If I get some free time I'd be happy to submit a PR.

[2017-02-07 13:19] MaksymMPanchyshyn commented on #97
@Britskiy Hi, did you find a way to do this?

[2017-02-07 21:01] Britskiy commented on #97
@MaksymMPanchyshyn, At the moment, no, but I think I just did not understand until the end because later I tried to do this by extending the Postman in Chrome and I have all happened, I applied form-data with field type of file and it worked maybe later I'll be back to this question and be sure to accomplish your goal here about your experience or do you do it)

[2017-02-17 02:53] takehilo opened #132 "How can I set res.locals?"
My production code is like the following:

[code]

How can I set `res.locals` using `httpMocks.createResponse`?
It would be nice if I could set any property as `httpMocks.createRequest` does:

[code]

Thank you.

[2017-02-17 02:57] takehilo commented on #132
A simple way is just adding `locals` property but are there any other ways to do this?

[code]

[2017-02-28 13:30] tomi commented on #119
@fidian Yes, the problem doesn't appear anymore with the latest version 1.6.1

[2017-02-28 13:30] #119 closed

[2017-03-07 16:51] LJNielsenDk commented on #99
There are some here: https://github.com/cj-wang/mean-start/blob/master/server/types/node-mocks-http/index.d.ts

They're not mine and I'm not sure how complete or correct they are.

[2017-03-25 14:07] nikwen opened #133 "Request.xhr is undefined [same for all other properties set via defineGetter()]"
Test case:

[code]

Output:

[code]

The same happens when trying to access any other other property set via defineGetter(). They are all undefined.

[2017-04-21 19:38] corinnaerin commented on #99
Here you go! I submitted a pull request: https://github.com/howardabrams/node-mocks-http/pull/134

[2017-04-22 05:45] #99 closed

[2017-05-10 05:06] davidhouweling commented on #99
@howardabrams when will the npm package be updated to reflect this change?

[2017-05-15 05:46] howardabrams commented on #132
Hopefully, version 1.6.2 will solve your problem.

[2017-05-15 05:46] #132 closed

[2017-05-18 11:22] hignatious opened #137 "res.send(null) causes TypeError"
Line 149 of lib/mockResponse is checking `if (typeof data === 'object')` before trying to extract any values out of `data`, but if you do something like `res.status(303).send(null)` to send a response without a body, it will bypass this check and cause a TypeError as it tries to extract values out of null. Because `typeof null` is broken in Javascript and returns 'object', so it passes this check.

[2017-05-20 01:36] SeanHayes commented on #53
I get this error when using the following middleware on a mock request:
[code]
[code]

If I comment out `req.on*` my test passes.

[2017-06-27 12:41] unusualbob opened #139 "Unable to retrieve stream content"
I was attempting to use this library for testing a few endpoints, however I've hit a snag when attempting to use it with endpoints which pipe their response.
Ie something like:
[code]

I've tried creating my own writeable stream and passing that in as an option, however nothing gets written to it. I know the server side is correct as I can execute the same request from a browser/curl and get a pro

[2017-06-30 14:53] #129 closed

[2017-07-01 23:18] MarkHerhold opened #140 "v1.6.3 is not in source control"
It seems that @howardabrams published v1.6.3 to npm but `package.json` reflects v1.6.2.

What went into v1.6.3? Could changes please be pushed?

[2017-07-02 05:30] howardabrams commented on #140
Not sure how that happened, but we'll publish v.1.6.4 and push as well.

Thanks for noticing.

[2017-07-02 05:30] #140 closed

[2017-07-12 04:20] lokhandeomkar opened #142 "response._headerNames needed for use with cookies module"

[2017-07-13 02:08] OpenDog opened #143 "Add support for append on MockResponse"
Express 4.11+

http://expressjs.com/en/api.html#res.append

Monkey patch for now:

[code]

[2017-07-24 17:20] coderslagoon opened #144 "sendStatus() does not return response object"
But just undefined, hence code calling e.g. `rsp.sendStatus(...).end()` will not work/crash.

[2017-08-14 18:00] jimjaeger opened #145 "MockResponse does not provide a headers object"
The node response object provides a headers object but the mocked version does not.

[2017-08-21 14:40] rakeshongithub commented on #73
can someone help me to createResponse for negative scenario.

[2017-08-23 04:43] howardabrams commented on #139
This library simulates a "server for a client" (if that makes sense), so it pretends to be a server, so it never interacts with a real server...just your client code. Yes, I am only stating this for others, so that they understand.

In your particular case, I believe I'm missing some code. A server that pipes the code still delivers the code as an HTTP response, correct? Are you wanting to simulat

[2017-08-23 04:44] howardabrams commented on #144
I believe I'm missing something. What are you expecting this case? Thanks.

[2017-08-23 05:21] unusualbob commented on #139
I've used this for other routes, ie standard `res.send({test: 'ok'});` with no issues. However when I attempted to test a route which used streams as shown here I was unable to get any data.

There is no code missing here, you can simply pipe any compatible node stream to `res` and the data will automatically be chunked as necessary and transmitted to the client. The issue is that with a real clie

[2017-08-23 07:54] coderslagoon commented on #144
The current implementation of sendStatus() returns the response object, so you can use it afterwards, like calling end(). However a) the Express 4 documentation doesn't mention it and b) it doesn't make much sense apparently, because sendStatus() is a final action. So I guess the current mock's fine.

[2017-08-23 07:54] #144 closed

[2017-08-29 13:57] MaxwellGBrown commented on #139
I've run into this same issue; I'm not sure if there's a different way I should be reading piped data other than `response._getData` or if it's just not available at all?

[code]

[code]

[code]

[2017-09-01 10:08] arryon commented on #99
I second that request. Why the delay, since the typings have already been merged? Would really like to use them in my projects

[2017-10-01 21:52] tylrob opened #148 "Documentation for use of Express Response"
Hi team, great project here. I found the repo by searching for how to unit test res.locals, and I see there was some activity to support this in the following commit: https://github.com/howardabrams/node-mocks-http/commit/e828c48af417384bdeaad9fe975e7ee091304b66

Can anyone show documentation about how to use the Express Response versus the regular response?

[2017-10-01 22:05] tylrob commented on #148
This is what I ended up going with, based on [test/lib/mockExpressResponse.spec.js](https://github.com/howardabrams/node-mocks-http/blob/e5c0fc615f4cd856d7fc51af98a2b0d4ad9f4949/test/lib/mockExpressResponse.spec.js)

[code]

[2017-10-08 17:18] brijeshprasad89 opened #149 "Unable to get any response using response._getData()"
I have written the following code to fetch data from mondo db:
Route:
[code]
controller:
`mongoClient.findDataById(params, res);`

client:
[code]

I am trying to write the integration test for the same:
[code]
I get nothing in `data`. Is there anything that I am doing wrong?

[2017-10-13 09:19] wizardnet972 opened #151 "request.is() function returns null"
The post request is not valid.

[code]

[2017-10-13 11:22] wizardnet972 commented on #151
Found why. I should add transfer-encoding.

like this:

[code]

[2017-10-23 18:34] morgs32 opened #152 "How to get body of data that is piped to mockResponse"
I respond like this:

[code]

On `res.on('end', () => ...`
How do I get the stream or the object that was streamed?

Thanks!

[2017-10-23 18:38] morgs32 commented on #139
@unusualbob what did you switch to?

[2017-11-01 08:25] Pitt14 opened #153 "node-mocks-http can not find already installed express module"
Error inside library dependencies after building typescript program using yarn:
../node_modules/node-mocks-http/lib/index.d.ts(1,35): error TS2307: Cannot find module 'express'.

This causes some problem in using MockResponse object:
error TS2339: Property 'on' does not exist on type 'MockResponse'.

[2017-11-08 14:41] adc17 commented on #149
I think `_getData()` is an async operation—I had this issue and resolved it by wrapping the call in a timeout. I admit it's not the best solution though.

If `_getData()` is async, it would be nice if it returned a Promise.

[2017-11-22 12:51] jaqua commented on #151
Your are right, but why do we have to set transfer-encoding?

[2017-11-25 00:08] hephzaron commented on #149
https://github.com/howardabrams/node-mocks-http/issues/73        check this out, it works for me

[2017-12-07 15:26] eugef opened #155 "Set an expiration date to a cookie when deleting it"
According to how cookie removals really work, the clearCookie() method should not delete the cookie but change its expiration date to a past one.

This is specially important when testing a function that deletes a specific cookie.
Setting the cookie in the request mock doesn't propagate it to the response mock, so the cookie is really never in the response during the test. Because of that, there i

[2017-12-19 12:39] eugef commented on #132
Version 1.6.6 si still missing this feature

[2018-01-12 14:08] marcosmercuri commented on #87
I have the same problem. Did you solve it in some way?

[2018-01-12 16:07] marcosmercuri commented on #87
For future reference:

You need to try/catch the assertion in the callback, and call 'done' with the error (yeah, pretty crappy):

[code]

[2018-01-15 09:47] nilesh-thorave opened #157 "Unable to send formData in CreateRequest"
To mock requests for an API that expects a file as formData, there is no provision to add formData in CreateRequest method. When formData is added in CreateRequest, the module throws the following error:

`Argument of type '{ method: "POST"; url: string; formData: { file: string; }; }' is not assignable to parameter of type 'RequestOptions'.
Object literal may only specify known properties, and 'f

[2018-02-09 12:20] #143 closed

[2018-02-09 13:28] eugef commented on #155
Fixed by re-mergin #72 into master

[2018-02-09 13:28] #155 closed

[2018-02-09 13:34] eugef commented on #112
`finish` event is fired with the latest version of package

[2018-02-09 13:34] #112 closed

[2018-02-09 15:01] jwhitmarsh commented on #97
Sorry to comment on an old issue, but did anyone get anywhere with this? @MaksymMPanchyshyn or @Britskiy ?

[2018-02-15 13:50] ecg-trial commented on #132
Version > 1.6.6 should have this fixed

[2018-02-15 14:10] eugef commented on #132
Version > 1.6.6 should have this fixed

[2018-02-27 17:27] Alexsey opened #159 "New way to deal with async and error handling"
During adaptation of this library to my needs I have come out with the interface that I think much easier to use and less verbose for async testing and additionally, it allows to test errors:
[code]
Where custom wrapper looks like
[code]
So it solves problems:
1. Sync `response._getData()`
2. Dealing with event emitter that is verbose and error-prone (there is a bunch of issues on there)
3. Provid

[2018-02-28 09:34] eugef commented on #159
Hi @Alexsey, could you elaborate on problem 1 and 2? What exactly you are trying to improve.

Regarding 3rd problem: I am following this approach to test errors:
[code]

What is your opinion about it?

[2018-02-28 10:48] Alexsey commented on #159
Right now there are two interfaces to test response - `_getData` and `.on('end', ...)` for sync and async responses. Problem with the `_getData` one is that it is just silently not working for async and problem with `.on('end', ...)` is that it requires you set up your response object with error emitter than subscribe to event and then getting your flow back to the test that is very verbose. And t

[2018-02-28 10:53] Alexsey commented on #159
BTW I'm not sour that my current implementation is not relying on [express-async-errors](https://github.com/davidbanham/express-async-errors) so maybe it would need some more tweaks even for this basic scenario to work in general. But here I would like to discuss an interface - like would you like to have something like this and if so how should we export variables and error, how should we name th

[2018-03-05 12:48] eugef commented on #159
I never run into troubles with testing async middlewares because i was using async/await in my tests.
As this feature is officials supported in Node 8 - can it be a solution in your case?

[2018-03-06 19:33] Alexsey commented on #159
My example is based on `async/await` so yes, I'm already using them :) It's not about current approach is not working - it's about the interface. It's:
1. Double - separate for sync and separate for async
2. Heavy - async case requires you to provide event emitter to the request object options and add an event listener for `'end'` event
3. Verbose - all above adds a test boilerplate that increases

[2018-03-06 19:43] Alexsey commented on #159
Actually we can even remove that single line and make it
[code]
and for errors
[code]
if `createMocks` would provide an object where `error` and `send` are already separate promises

Or it could be
[code]
and for errors
[code]
if `result` would resolves to `send` and rejectes to `error`

[2018-03-06 19:49] Alexsey commented on #159
Another approach may be to go from `createMocks` interface and make it
[code]
and this we may completely remove the code duplication

Where `testRouteWith` first argument is the middleware under test, and second and third are the same as first and second in `createMocks`

[2018-03-19 09:02] amitguptagwl opened #162 "'end' event is not being triggered"
[code]

 Error: Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL

[2018-03-19 15:29] eugef commented on #162
Try to move `router.lookup(request,response);` below the `response.on` - event might be fired before you assign an event handler

[2018-03-20 05:38] amitguptagwl commented on #162
Thanks. I've changed the code to following

[code]

Now it is calling response 'end' event. But it's not calling request's 'data' or 'end' event

[2018-03-20 14:55] eugef commented on #162
Are you sure request object has those events? I've checked here https://nodejs.org/docs/latest-v8.x/api/http.html#http_class_http_clientrequest and can't see that request has 'data' or 'end' events

[2018-03-21 00:52] amitguptagwl commented on #162
Yes. if I run the server and hit the URL directly. I get the expected response. Which means all the events are being registered successfully at least in the case of direct hit.

In above example, I've also tried with 'body' property. However it is not necessary. Is there anything else I'm missing in above example that I should do?

[2018-03-22 03:02] amitguptagwl commented on #162
In addition, I'm using node v9.5.0, and npm v5.6.0

[2018-03-22 08:46] eugef commented on #162
Could you give an example of your code with subscribing for  'data' or 'end' request events

[2018-03-22 11:28] amitguptagwl commented on #162
Here is the link : https://github.com/muneem4node/muneem/blob/master/src/routesMapper.js

Since it is big, it may eat your valuable time.

[2018-03-26 09:51] amitguptagwl commented on #162
Is there any luck?

I've recently created a new router  [अनुमार्गक (anumargak)](https://github.com/NaturalIntelligence/anumargak) but it didn't with that as well. Everything is fine when I run the server and hit the URL.

[2018-03-26 11:38] amitguptagwl commented on #162
I've just noticed that it doesn't matter which router I'm using, it doesn't call any event on request body.

[code]

So in above code, it doesn't prints chunk. I tried to call `request.write()` but that seems invalid.

[2018-03-26 14:48] amitguptagwl commented on #162
I got a partial solution. I need to emit the event myself after calling the lookup or method.

[code]

I was expecting it to be the part of the code.

[2018-03-28 05:18] amitguptagwl opened #165 "How to set cookies to mock request object?"
I've tried 3 ways and only 1 works out of them.

[code]

So which is the proper way of setting the cookie to the mocked request?

[2018-03-29 08:28] eugef commented on #165
This works for me:
[code]

[2018-03-29 13:05] #165 closed

[2018-03-29 13:06] amitguptagwl opened #166 "request.pipe is not a function"
I was assuming that the mocked request is actually a fake stream so pipe function should be available.

[2018-03-30 10:04] amitguptagwl commented on #166
I can raise a PR for this if you please merge my previous PR. However I strongly feel that original API should be built on top of stream not the event

[2018-03-30 12:43] eugef commented on #166
Please raise a PR

[2018-04-05 08:26] amitguptagwl commented on #166
Thanks @eugef  for your support. However I've been switched to some other library due to stream handling. Here is the code change for other users who faces this issue.

[code]

Feel free to close this issue.

[2018-04-09 07:42] #162 closed

[2018-04-09 07:44] #166 closed

[2018-04-10 22:02] manojkrishna1991 commented on #110
HI @howardabrams I am interested can you add me to this project

[2018-05-16 18:14] danielmcq opened #168 "The latest version is not tagged correctly in npm"
If you run the command `npm view node-mocks-http` you will see that the version with the *latest* tag is 1.5.8. However, version 1.6.7 seems to be the latest stable version and should probably be tagged with the *latest* tag. It would be as simple as the maintainers running the command `npm dist-tag rm node-mocks-http latest && npm-dist-tag add node-mocks-http@1.6.7 latest`.

[2018-05-18 08:04] eugef commented on #168
@danielmcq thank you for helping - the latest version is now correct in npm

[2018-05-18 08:04] #168 closed

[2018-06-07 13:32] Yaty commented on #152
Did you find a solution :) ?

[2018-07-23 16:51] morgs32 commented on #152
@Yaty *first* I went with `supertest`

[code]
As you can see I was using `jest` and `toMatchImageSnapshot()`.

*Later*, I switched to [test-listen](https://github.com/zeit/test-listen) by the team at [zeit](https://zeit.co/).

[code]
This is preferable to me because it is how I use the endpoint in prod.

[2018-07-23 16:51] #152 closed

[2018-08-23 19:27] cringblom commented on #151
This is because of the `type-is` dependancy which is used by the `req.is()` function
From the docs:

To determine if the request has a body it checks for the headers: `transfer-encoding` or `content-length`.

Neither of these seem to be set by `httpMocks.createRequest({...})`

[2018-09-18 08:44] RWOverdijk opened #171 "Support Koa"
Hey! Cool module.

I've been playing with it for a bit for my koa-based app and it works, with the exception of `query` which needs to just be part of the url. Funny enough I don't see any mention of koa in this project.

In case you just never tested it, I thought I'd let you know so you can document it (and perhaps attract more contributors that way?).

The only question I have, is if it would b

[2018-10-03 11:11] eugef commented on #171
Thanks for giving a tip about Koa, i will update the readme.

This module is intended to be used for testing purposes, for production i would suggest to find a more light-weight solution.

[2018-10-03 11:16] RWOverdijk commented on #171
Cool. I'll fold my own then :) It's simply a matter of treating the websocket event as an http request so that shouldn't be too difficult.

[2018-10-03 11:16] #171 closed

[2018-10-04 10:56] rmullan opened #174 "_read() is not implemented"
https://github.com/howardabrams/node-mocks-http/pull/169

Uses Readable directly. This leaves it without a _read() method and breaks req.on().  I believe Readable is meant to be subclassed and _read() implemented - https://node.readthedocs.io/en/stable/api/stream/

[2018-10-05 07:58] eugef commented on #174
I reverted that PR because it causes this issue

[2018-10-05 07:58] #174 closed

[2019-03-05 02:26] neilpalima opened #180 "createRequest with text/plain"
Is there a way to create a request with `content-type: text/plain` header? I tried it but the body only expects an `object`.

[code]

[2019-03-18 00:12] Downchuck commented on #73
Ouch! I got caught in this one - I did see in the manual a warning about event emitter. Lost some time to figuring it out. createMocks(request_stuff, { eventEmitter: require('events').EventEmitter})

[2019-04-05 10:53] lonix1 commented on #113
Yes we need a mock for the `NextFunction`. The workaround above is nice, but it's not a mock.

We need this: `const next = httpMocks.createNextFunction();`

[2019-04-05 11:27] eugef commented on #113
I am using sinon for that:

[code]

[2019-04-05 12:10] lonix1 commented on #113
I am using Jest:

[code]

But it would make the tests MUCH neater if it were part of the library.

[2019-04-06 09:20] eugef commented on #113
Mocking a function can be done by multiple other libs. Making this feature
part of `node-mocks-http` would bloat up its code without adding any
additional value

On Fri, 5 Apr 2019 at 14:10, lonix1 <notifications@github.com> wrote:

--
Best regards, Eugene Fidelin

[2019-04-06 09:22] lonix1 commented on #113
I could say the same for req and res.

It's not bloat if it makes your tests easier to understand and more expressive and neater.

[2019-04-06 09:28] eugef commented on #113
Mocking `req` and `res` is the core feature of this library.

Mocking a function - is a feature of many other libs, and size of those
libs can be much bigger than the size of `node-mocks-http`.
You probably already using some of the mocking libs - so having another one
built in  `node-mocks-http` would be a bloat.

On Sat, 6 Apr 2019 at 11:22, lonix1 <notifications@github.com> wrote:

--
Best rega

[2019-04-06 09:44] lonix1 commented on #113
This library is meant to mock http, not req and res - fine distinction but important. And an express request contains res and res *and next*. All three should be supported.

Anything that simplifies tests is a win. It is easier to read and easier to maintain and requires less dependencies.

Let's agree to disagree. :hand:

[2019-04-18 07:43] mathewmeconry commented on #113
I have to agree with @lonix1.
This lib is a makes life easier to mock express and koa routing functions. And an express routing function can contain calls to next() which should be from my point of view mockable (I don't know if this word exists) too.

[2019-04-25 18:37] belyas commented on #149
I have got almost same issue, here's my code:

describe('Category router', () => {
    it('Returns 200 status code', () => {
        const response = buildResponse()
        const request  = httpMocks.createRequest({
            method: 'GET',
            url: '/categories/',
        });

        CategoryRouter(request, response)

        console.log('[Res:data]', response._getData());
    });
});

[2019-05-13 15:49] PtrBld opened #182 "res.json(number) sets status code"
I have  a express app where I set the status code before calling res.json() like this:
`res.status(number).json(obj);`

The problem now is that my json can be just a number and therefor this library will set the statuscode of the response to the `number ` specified in the json method and the actual json to `undefined`.  I think setting a number as return value in json should be fine...

Since sett

[2019-05-13 16:01] eugef commented on #182
I think it is a bug in `node-mock-http`. Mock for `json` function doesn't check the length of `arguments` like express does

https://github.com/howardabrams/node-mocks-http/blob/f4b6b05ada8417e64ac0cf7095f56f2b2f860649/lib/mockResponse.js#L262

https://github.com/expressjs/express/blob/dc538f6e810bd462c98ee7e6aae24c64d4b1da93/lib/response.js#L243

[2019-05-14 08:42] PtrBld commented on #182
Ok I will work on a pull request for that if that is ok for you. Should be a fast fix.

[2019-06-03 12:23] migudonatien commented on #109
I have same issue when using _getData or _getJSONData.

        at JSON.parse (<anonymous>)

      128 |     await controller.getAdvisorStatus(req, res, next);
      129 |     expect(next).toHaveBeenCalledTimes(1);

          |                      ^
      131 |     expect(data).toHaveProperty('Error', 'Invalid signature');
      132 |   });
      133 | });
`

[2019-06-09 11:50] #182 closed

[2019-06-13 15:13] crazy4groovy opened #184 "req.resume is not a function at send"
Has anyone seen this error before? I am not certain what is causing it in my call stack

[code]

I am using NestJS, which should be express-compatible. Here is my calling code.

[code]

[2019-06-23 18:46] gryphonmyers opened #185 "req._readableState is undefined"
I see the request mock was briefly turned into a ReadableStream:
https://github.com/howardabrams/node-mocks-http/pull/169

But then got reverted due to https://github.com/howardabrams/node-mocks-http/issues/174

Some libraries depend on req._readableState being defined, so I would view this as an active issue as the mock does not adequately resemble the built-in request object.

[2019-07-11 14:33] AndyOGo opened #186 "provide ESLint plugin for underscore dangle test methods"
First thanks for this awesome mocks, I really love to use it.

Just a minor thing, all `_`-dangle prefix test functions break my eslint config cause of [`no-underscore-dangle`](https://eslint.org/docs/rules/no-underscore-dangle) rule.

I quickly looked at your code an came up with this eslint config:

[code]

I thought it would make sense to turn it into a generic plugin.

[2019-07-15 10:22] AndyOGo opened #187 "Support Express acceptsLanguages HTTP Accept-Language Header"
Express Request provides `acceptsLanguages()`.
https://github.com/expressjs/express/blob/e1b45ebd050b6f06aa38cda5aaf0c21708b0c71e/lib/request.js#L179-L182

I want to unit test my configured [`express-locale`](https://www.npmjs.com/package/express-locale) middleware, with uses above method, but  it doesn't work.

[code]

The `accepts` module supports [`languages`](https://github.com/jshttp/accepts#

[2019-07-15 10:59] AndyOGo commented on #187
Also `acceptsCharsets` and `acceptsEncoding` of express are missing

[2019-07-17 19:27] AndyOGo commented on #187
duplicate of #128

[2019-07-19 14:19] #128 closed

[2019-07-19 14:19] #187 closed

[2019-07-19 15:56] AndyOGo commented on #184
@crazy4groovy a quick search for `resume` does not show an available `req.resume` function:
https://github.com/expressjs/express/search?q=resume&unscoped_q=resume

[2019-07-19 16:19] AndyOGo commented on #133
All defined getters can be found here:

https://github.com/expressjs/express/blob/e1b45ebd050b6f06aa38cda5aaf0c21708b0c71e/lib/request.js#L292-L525

[2019-07-19 17:25] AndyOGo commented on #133
@nikwen If I'm right, separate mocks are exported for `express`.

[code]

[2019-07-19 17:28] AndyOGo opened #190 "document how express is supposed to be mocked"
`httpMocks` also exports special `express` mocks here:
https://github.com/howardabrams/node-mocks-http/blob/f19d9c03f87f7e21cdcb6cb6262d5f99fcf1c991/lib/http-mock.js#L34

Which supplies all of these:
https://github.com/howardabrams/node-mocks-http/tree/master/lib/express

But the readme does not mention this at all.

[2019-09-03 04:16] rodrigoreis22 commented on #152
Any solutions using this library @morgs32 ?

[2019-09-03 17:16] morgs32 commented on #152
Nope. I strongly recommend `test-listen`. Instead of figuring out how to get a mock and the mock API to work, you can use the same api you know and use everywhere (axios/fetch/whatever)?

[2019-09-05 09:33] dels07 opened #194 "Testing async middleware?"
Hi,

I have auth.handler middleware that call some async function that I having problem to test using mocha & chai, using `done()` not helping either here, example code:

**middleware**
[code]

**test**
[code]

[2019-09-08 22:34] rodrigoreis22 commented on #152
@morgs32 i was able to do this to work by using `res.on('end'` and then on the callback you use `res._getChunks()` to build back the response.

[2019-11-15 20:08] CFSJthomas opened #198 "request.pipe() function is missing"
` request.pipe(file);`
returns
`request.pipe is not a function`

[2019-11-21 07:48] lonix1 commented on #113
not stale

[2019-11-21 09:02] eugef commented on #113
Depending on a test framework you are using - you can choose between `sinon.spy()` or `jest.fn()` or many other implementations

[2019-11-21 09:02] #113 closed

[2019-11-23 20:38] #95 closed

[2019-11-27 00:18] #194 closed

[2019-11-27 00:18] #186 closed

[2019-11-27 00:18] #190 closed

[2019-11-27 00:18] #184 closed

[2019-11-27 00:18] #185 closed

[2019-11-27 00:18] #159 closed

[2019-11-27 00:18] #180 closed

[2019-11-27 00:18] #151 closed

[2019-11-27 00:18] #153 closed

[2019-11-27 00:18] #157 closed

[2019-11-27 00:18] #148 closed

[2019-11-27 00:18] #149 closed

[2019-11-27 00:18] #139 closed

[2019-11-27 00:18] #142 closed

[2019-11-27 00:18] #145 closed

[2019-11-28 00:18] #133 closed

[2019-11-28 00:18] #137 closed

[2019-11-28 00:18] #110 closed

[2019-11-28 00:18] #117 closed

[2019-11-28 00:18] #101 closed

[2019-11-28 00:18] #108 closed

[2019-11-28 00:18] #93 closed

[2019-11-28 00:18] #97 closed

[2019-11-28 00:18] #88 closed

[2019-11-28 00:18] #89 closed

[2019-11-28 00:18] #91 closed

[2019-11-28 00:18] #83 closed

[2019-11-28 00:18] #87 closed

[2019-11-28 12:32] sbland opened #199 "Expect fail inside response.on end gets caught in a catch block"
If `response.on('end'...` contains an `expect()...` statement that fails. The error is caught in the catch function within the request function and causes the async test to timeout rather than give correct error.

[code]

Test fails with following error:
`Timeout - Async callback was not invoked within the 3000ms timeout specified by jest.setTimeout.Timeout - Async callback was not invoked within

[2019-11-30 00:17] #54 closed

[2019-11-30 00:17] #56 closed

[2019-11-30 00:17] #73 closed

[2019-11-30 00:17] #49 closed

[2019-11-30 00:17] #17 closed

[2019-11-30 00:17] #45 closed

[2019-11-30 00:17] #12 closed

[2019-12-28 07:08] leosuncin opened #201 "mockResponse.writeHead do not return instance as ServerResponse.writeHead do"
The current [implementation](https://github.com/howardabrams/node-mocks-http/blob/a88c9e31e08a95976973ea7d79e46496dbfefb9d/lib/mockResponse.js#L110-L145) do not return the Response instance as [ServerResponse.writeHead](https://github.com/nodejs/node/blob/f88d466708bcb3c3b3e07948c51fa1c16d9742c2/lib/_http_server.js#L235-L306) do.

See the [official documentation](https://nodejs.org/docs/latest-v12

[2020-01-14 09:37] triadium opened #202 "Functions _isUTF8 and _isJSON should consider the presence of text charset=... in the header"
Code:

[code]

Expected values:
response._isJSON() == true
response._isUTF8() == true

Actual values:
response._isJSON() == false
response._isUTF8() == false

[2020-01-22 00:04] #198 closed

[2020-01-22 15:31] maxsommer commented on #99
I know this issue is really old – but in my opinion more relevant than ever.

[2020-02-04 00:04] #199 closed

[2020-02-19 23:03] vad3x opened #204 "[DEP0005] DeprecationWarning: Buffer() is deprecated"
**Overview:**

Nodejs writes a warning to console when using the library:

[code]

**Versions:**
node-mocks-http: 1.8.1
node: v12.14.0

**Suggestions:**

Use `Buffer.alloc` instead of `new Buffer`

[2020-02-27 00:18] leosuncin commented on #201
Keep open. Tests must resemble the behavior of production environment, so
the mock should be as close as possible and copycat the Node.js libraries

El mié., 26 de feb. de 2020 18:08, github-actions[bot] <
notifications@github.com> escribió:

[2020-02-28 12:38] eugef commented on #204
@vad3x thanks for reporting

[2020-03-02 22:54] u4da3 opened #205 "Unable to test the structured session data with typescript."
I'm testing the structured session data with typescript.
But the test does not work because of the type error.

For example, in `express-session`, the type definition of `SessionData` is as below:

[code]

But, the type definition in `node-mocks-http` is as below:

[code]

I tyied rewriting the type definition in `node-mocks-http`: `[key: string]: string;` -> `[key: string]: any;`
And the test wor

[2020-03-03 16:05] eugef commented on #205
Hi @u4da3, would be great if you create a PR with the fix

[2020-03-06 00:08] #201 closed

[2020-03-09 16:15] #205 closed

[2020-03-11 14:30] gabssnake opened #207 "`res.hasHeader()` not defined"
Hi, thanks for your work on this module :)

What's your point of view on making assertions on headers, e.g. `res.hasHeader()`?
How would one do it while using this module?

Best,

[2020-03-16 11:43] eugef commented on #207
Hi @gabssnake

I suggest you can use `res._getHeaders()` to make assertions if header exists and has certain value

[2020-03-23 00:06] #202 closed

[2020-03-25 09:00] gabssnake commented on #207
Thank you for your answer.
I was specifically interested in cookies, so ended up using `req.headers.cookie` and `res.cookies`.

[2020-03-25 09:00] #207 closed

[2020-05-06 00:14] #204 closed

[2020-05-09 16:05] romanlv commented on #28
Solution described in #159 seems easiest to implement

here is typescript example, works with next.js
https://gist.github.com/romanlv/c12c2541212110968bc92ba19b176d1c

[2020-05-11 14:40] joetidee opened #210 "Dealing with writeHeader"
I have this code that sends the response on the server. How do I mock out writeHeader?

[code]

[2020-05-20 02:54] feifeipan opened #211 "response missing getHeaders api"
response missing getHeaders() api, only support getHeader().

[2020-05-28 16:27] sixnames opened #212 "Session type"
Hi! Thank you for amazing tool. Can I ask you for small improvement? I have issue with types in Session interface. It is not have required methods types.
Your interface
[code]

Interface from express-session
[code]
Thanks!

[2020-06-09 17:45] afrancht opened #214 "What is an object hash?"
I'm not sure if you meant the cryptographic hash in such case we need to know the protocol. I'm trying to use cookies and I was wondering how I had to do the following:
[code]

An example would be great! Thanks in advance.

[2020-06-17 13:50] chrise86 commented on #194
@dels07 was your problem that the test was hanging? If so, I'm facing the same issue now - did you manage to resovle it?

[2020-07-02 19:08] edshav commented on #211
`const cookie = res._getHeaders()['set-cookie'];`
It works for me

[2020-07-10 03:33] taozhi8833998 opened #215 "support response.writableEnded"
First I'd like to thank you for such an amazing module.  I am using it in my test case.

when call `response.end()` in my code, I will check `response.writableEnded` instead of `response.finished`, which has been deprecated since node v13.4.0, v12.16.0.

[code]

[2020-07-10 03:34] #215 closed

[2020-07-10 03:34] taozhi8833998 commented on #215
it has been supported in https://github.com/howardabrams/node-mocks-http/pull/203. close it.

[2020-07-18 00:20] #210 closed

[2020-08-04 00:22] #212 closed

[2020-08-11 08:18] sergioregueira commented on #211
As [response.getHeaders()](https://nodejs.org/api/http.html#http_response_getheaders) is part of the spec, the mock should implement it instead of requiring users to adapt their valid implementation. I will submit today a pull request to add that missing method.

[2020-08-11 09:24] eugef commented on #211
Hi @sergioregueira, that would be great.

[2020-08-13 10:03] eugef opened #220 "Fix lint to allow modern ES syntax"
ES syntax supported by Node v10 should be allowed

[2020-08-16 00:24] #214 closed

[2020-10-09 15:40] nikoschon opened #225 "Can I test the app directly, instead of an individual route?"
[code]

The route is hit after the end of test.

[2020-10-14 09:51] eugef commented on #225
This depends if you `app()` function returns a promise or not

[2020-10-14 09:54] nikoschon commented on #225
forgot to mention this. This is an express app instance `const app = express();`

[2020-10-14 12:41] eugef commented on #225
Then it won't work.

You can take a look into `supertest` - it is more suitable to test the whole app.

[2020-10-20 00:35] #220 closed

[2020-11-05 20:32] nhooyr commented on #99
New version has been published guys! 2 months ago!

https://www.npmjs.com/package/node-mocks-http

[2020-11-06 14:27] nhooyr commented on #225
Looks like the same issue with testing a `express.Router`. If a route is async, then the router will not wait for the promise to resolve and return early, but not return a promise itself so there's nothing for the test to await on.

[2020-11-15 20:30] toomuchdesign opened #226 "@types/express as direct dependency?"
The types of this library import `express` and its types [here](https://github.com/howardabrams/node-mocks-http/blob/74440bc6df04fadb8a9755d5c8321e9bdc9c4d2c/lib/index.d.ts#L1) but `@types/express` is declared as devDependencies.

This means that in order to use `node-mocks-http` types, a user must install `@types/express` in its consuming project and ensure express types are aligned with the expr

[2020-11-16 10:35] eugef commented on #226
Hi @toomuchdesign

This is done intentionally to prevent installing `@types/express` in projects that do not use Typescript.

If you know a better approach to achieve this - please advise

[2020-11-16 11:34] toomuchdesign commented on #226
Thanks @eugef,
I had the same doubt about a project of mine. In my case I decided to pay the price for the extra direct dependency but it's 100% a matter of tradeoffs. I wanted to make sure it was intentional. 👍

Maybe declaring `@types/express` could be also declared as [`optionaldependencies`](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#optionaldependencies), but this would not re

[2020-11-16 11:34] #226 closed

[2021-01-05 16:26] herobank110 opened #228 "Mock writeHead doesn't return response"
**Overview**
Mock writeHead doesn't return response so can't be chained as usual.

**Use Case**
Normally `ServerResponse.writeHead` returns the res object so it would be valid code to chain a function after it.
But `httpMocks.MockResponse<ServerResponse>` returns undefined causing valid code to fail.

**Version(s)**
node-mocks-http 1.9.0

**Reproduce**
[code]

**Suggestions**
Workaround in typescr

[2021-01-07 13:56] eugef commented on #228
@herobank110 please check if this fix works for you #229

[2021-01-08 09:56] herobank110 commented on #228
Yes this change works fixes my issue with my workaround removed, Many Thanks!

[2021-01-10 14:32] #228 closed

[2021-01-13 01:00] #225 closed

[2021-01-19 11:52] jereaameli opened #230 "req.hostname doesn't reflect real hostname"
## Bug

PR #224 introduced a feature where `req.hostname` get's calculated from the `Host` header, but it wrongly truncates it to the 2 upper domains.

For example:

- `example.com` will continue being `example.com` ✅
- `mercadolibre.com.ar` will get truncated to `.com.ar` ❌

## Solution

`req.hostname` should reflect exactly the same value as the `Host` header, without the port information if it

[2021-01-20 15:32] #230 closed

[2021-01-20 15:33] eugef commented on #230
Hi @jereaameli, thank you for reporting the issue, the fix will be released in the next version

[2021-02-10 06:13] beevk commented on #99
How can I import the types? It's not available as @types/node-mocks-http.

[2021-02-10 23:58] corinnaerin commented on #99
You don't have to import them separately, they're bundled with the package.

[2021-02-14 01:06] 6XGate opened #232 "TypeError: Cannot read property 'pipesCount' of undefined and TypeError: req.resume is not a function"
While trying to use this with Express, I've encountered two issues.
- `TypeError: Cannot read property 'pipesCount' of undefined`
- `TypeError: req.resume is not a function`

The first occurs when the app has a registered route and the second when it does not.

Here is example code showing the error: https://repl.it/@sixxgate/bug-http-mocks#index.js

[2021-02-24 14:20] Shestac92 opened #233 "Typescript: Type 'string' is not assignable to type 'Body | undefined'"
I found that `Body` interface supports only `[key: string]: any;`. But in many projects, the body may include stringified JSON, like this:
[code]
Because of that, the `eslint` throws the error below:
<img width="547" alt="error" src="https://user-images.githubusercontent.com/24609062/109013045-aacfbd80-76ed-11eb-9280-ee36c595c1bd.png">

Probably, we can add a type like `export type BodyString = st

[2021-04-23 00:50] #232 closed

[2021-05-27 17:41] quoininc-huudatran opened #238 "`_isJSON()` doesn't recognize `application/*+json`."
When setting `Content-Type: application/hal+json`, the response returns `false` for `res_isJSON()` call.

I would expect it to return `true`.

[2021-05-27 17:45] quoininc-huudatran opened #239 "`res.send()` doesn't convert to string"
When calling the following in my code:

[code]

will break the code:

[code]

as the data is kept as JSON instead of converting it to string. This is the behavior in ExpressJS (I'm not calling `JSON.stringify()` in my long-time running code.

[2021-05-30 23:26] rhazegh opened #240 "request.getHeader() missing?"
Thank you for this great library. I am using this to test my Nextjs API routes. It has been working so far until I decided to send some http headers in the request.

In the test file:
[code]

When I try to retrieve the headers in the API end point:
[code]

According to Nodejs documentation https://nodejs.org/api/http.html#http_request_getheader_name, it seems that `request.getHeader(name)` should

[2021-05-31 14:49] eugef commented on #240
Hi @rhazegh you are right, `req.getHeader()` should be also available.

Here is the PR with a fix https://github.com/howardabrams/node-mocks-http/pull/241

[2021-05-31 16:26] basit1327 commented on #49
Still facing this issue in 2021? tried in all manners with res.send()  res.write() res.end()  but .end() event never called

[2021-06-01 13:05] rhazegh commented on #240
@eugef Fantastic. Thanks for the quick fix.

BTW, I found out that Nextjs's request object for API routes is an instance of Node's [http.IncomingMessage](https://nodejs.org/api/http.html#http_class_http_incomingmessage) which supports `request.headers` so ended up not using `request.getHeader()`. Thanks again.

[2021-06-01 13:47] eugef commented on #240
you are welcome

[2021-06-01 13:47] #240 closed

[2021-06-09 08:37] restuwahyu13 commented on #239
same issue with me

[2021-06-09 08:43] restuwahyu13 opened #242 "How to use custom request in express using node-mocks-http ?"
For my case, I use custom request like `req.payload.id` for testing change password in my app, `req.payload.id` is custom request from JWT middleware, and when I run my test I get response back error like `req.payload.id` is undefined after test running, how to solve this issue ?. Thank you

[2021-06-09 13:14] eugef commented on #242
Hi @restuwahyu13 could you please provide an example of the code and the test.

[2021-06-09 13:26] eugef commented on #238
Hi @quoininc-huudatran, atm `_isJSON()` returns true only when `Content-Type: application/json`

But even if `is-type` library would be used - it will be still `false` because
[code]

You can try it here https://runkit.com/embed/p8q50sjg251o

[2021-06-09 13:30] eugef commented on #239
Are you using `express` or some other framework?

[2021-06-09 14:28] quoininc-huudatran commented on #238
According to documentation of type-is:

So we can do:
[code]

[2021-06-09 14:48] quoininc-huudatran commented on #239
@eugef expressJS, as specified in my initial report.

[2021-06-09 14:57] quoininc-huudatran commented on #242
@restuwahyu13 Are you trying to test a routeHandler or your whole server? If testing a routeHandler, I would just set your `payload` as part of your `req` object before passing it to your routeHandler. Do that in a `beforeEach()` (or whatever your framework uses).

[2021-06-09 15:00] eugef commented on #238
You are right, please review the fix #243

[2021-06-09 15:18] eugef commented on #239
It is indeed an issue in this lib that `res.send()` functionality doesn't match Express.js 100%
https://github.com/howardabrams/node-mocks-http/blob/master/test/lib/mockResponse.spec.js#L639

Unfortunately the fix would break the backwards compatibility and would require a major release.

Meanwhile, as a work-around i suggest to use `res._getData()` in your tests.

[2021-06-09 21:02] quoininc-huudatran commented on #239
@eugef Yes, I understand this, and that's what I'm using in my tests to work around, but wanted to raise/document that difference, because it took me a little time to figure it out. Maybe it can just be added to the documentation.

[2021-06-10 05:50] restuwahyu13 commented on #242
hi @eugef this is my test

[code]

and this is my controller

[code]

[2021-06-10 05:53] restuwahyu13 commented on #242
@quoininc-huudatran  I trying test for my controller not route handler, for test my route handler I use integration testing using supertest

[2021-06-10 05:55] restuwahyu13 commented on #239
@quoininc-huudatran use this for handle `res.send,` and this work for me `res._getData()`

[2021-06-10 10:51] eugef commented on #242
@restuwahyu13 how do you create a `req` object in the test? Are you using `createRequest()` function?

[code]

[2021-06-10 14:18] quoininc-huudatran commented on #242
Thanks, I was not asking about the `Router`, but `routeHandler`. I also call them controllers, but the current project defines them as `routeHandler` in the documentation.

Make sure you have a `beforeEach()` with something like:
[code]
(`payload` doesn't pre-exist on the mocked `req`.) Without the exact error dump, I'm not sure if it says cannot set `uid` on `undefined` or it actually fails becau

[2021-06-11 00:23] restuwahyu13 commented on #242
[code]

[2021-06-11 00:25] restuwahyu13 commented on #242
thank for you suggestion @quoininc-huudatran , okay I am try it

[2021-06-11 00:42] restuwahyu13 commented on #242
@eugef  you suggestion it is work, thank you

[code]

[2021-06-11 00:42] #242 closed

[2021-06-30 16:32] DaveStein opened #245 "Parameters mismatch Typescript definitions"
Just found your repo over here: https://stackoverflow.com/questions/62230808/test-nextjs-api-middleware-with-jest

I did `httpMocks.createRequest<NextApiRequest>();` and `httpMocks.createResponse<NextApiRequest>();` but TS complains. Does this repo need an update or am I doing something wrong? I'm currently on Next `11.0.1`

[code]

[code]

[2021-06-30 18:10] DaveStein commented on #245
PS: I just realized Next11 is only a couple weeks old

[2021-07-02 05:33] doshii-mo commented on #245
I get the same on 10.2.3

[2021-07-02 11:50] doshii-mo commented on #245
@DaveStein Not sure if you've got `auth0` package installed? I notice I only get this if I install that package. If I remove it, it goes away.

[2021-07-02 19:20] DaveStein commented on #245
I don't have `auth0` anywhere in my `package-lock.json` so maybe it's some dependency of that we both have?

[2021-08-07 05:37] pmazumder3927 commented on #245
I'm having this issue as well. Removing `@auth0/nextjs` didn't fix it for me.

[2021-08-13 15:55] GiordanoArman commented on #6
@eugef I noticed that the response.end() callback you find in the official Node.js docs

https://nodejs.org/docs/latest-v12.x/api/http.html#http_response_end_data_encoding_callback

is not triggered. Is it possible to have the mock response object mimick the native response on this matter?

[2021-08-17 00:40] #238 closed

[2021-08-17 03:34] fillon commented on #245
same here

[2021-08-17 09:13] MGough commented on #245
I'm also seeing this issue with `next` 10.2.3 and `node-mocks-http` 1.10.0 (as 1.11.0 is not on the Yarn registry yet).

Has anyone found a way to resolve this issue?

[2021-08-18 00:40] #239 closed

[2021-08-19 08:18] eugef commented on #6
Hi @GiordanoArman PR is always welcome.

Meanwhile you can manually trigger `response.end()` callback in the testst this way:

[code]

[2021-08-23 08:40] GiordanoArman commented on #6
@eugef ok, thanks, would you rather have this fix on a fork of the 1.x branch or master branch?

[2021-08-23 11:05] eugef commented on #6
Master branch

[2021-08-23 12:45] GiordanoArman commented on #6
ok, great :) will this fix be released in a 1.x version or when you release version 2?

[2021-08-23 14:12] eugef commented on #6
I assume this feature won't introduce a breaking change, so it would be possible to release as a minor version.

[2021-08-23 14:21] GiordanoArman commented on #6
ok, do you perhaps need to add me as collaborator somehow in order for me to push the changes? I'm stuck with auth errors, whether I use personal tokens or SSH keys... been a while since last time I used GitHub via command line lol

[2021-08-24 09:41] eugef commented on #6
Hi @GiordanoArman, please fork the repo and do all the changes there, Then you can create a PR https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2021-09-23 07:27] kaplanlior opened #250 "Please tag 1.10.1"
Thanks for maintaining node-mocks-http :+1:

Can you tag 3497bc5b28858ea3c37471a4034536d9c9834168 as 1.10.1 ?
(or maybe you did it locally and didn't push the tag)

[2021-09-23 07:29] kaplanlior opened #251 "version 1.11.0 not available on NPM"
Thanks for maintaining node-mocks-http :+1:

Can you update NPM with version 1.11.0 ?
It currently has 1.10.1 as latest.

[2021-09-23 09:03] eugef commented on #250
Hi @kaplanlior new tag & release are created https://github.com/howardabrams/node-mocks-http/releases/tag/v1.10.1

[2021-09-23 09:03] #250 closed

[2021-09-23 09:07] eugef commented on #251
@kaplanlior thanks for bringing this up.
Version 1.11.0 is published to NPM

[2021-09-23 09:07] #251 closed

[2021-09-24 06:40] ruohola commented on #245
It happened to me when I installed a package that had specified `@types/express` as its dependency. The issue is that both `express.Request` and `NextApiRequest` extend Node's `http.IncomingMessage`, but they are not compatible with each other.

[2021-09-24 06:55] ruohola commented on #245
This happened to me when I installed a package that had specified `@types/express` as its dependency. The issue is that both `express.Request` and `NextApiRequest` extend Node's `http.IncomingMessage`, but they are not compatible with each other.

I fixed this like this:

[code]

[2021-11-04 05:22] smalllong opened #252 "Why is baseUrl non-empty?"
In real apps, baseUrl can be empty and path be non-empty when not using router middlewares. But in this mocks, baseUrl is always non-empty when path is not empty. I can not pass an empty baseUrl to override it as it always fallback to path. Why is that?

[2021-11-05 15:23] eugef commented on #252
Hi @smalllong please provide a code example of how are you passing an empty `baseUrl`

[2021-11-08 09:02] smalllong commented on #252
`var createRequest = require('node-mocks-http').createRequest;

console.log(createRequest({
    baseUrl: '',
    path: '/category/request',
    method: 'POST',
  }))`

[2021-11-10 12:01] eugef commented on #252
Could you try the following:

[code]

[2021-11-20 15:18] smalllong commented on #252
That may be working, although I don't think that's the correct solution

[2021-11-24 05:11] ruohola commented on #245
Not stale.

[2021-12-02 06:48] ruohola commented on #245
Shoulf not be closed.

[2022-01-28 00:45] #252 closed

[2022-02-01 10:42] zunkelty commented on #245
I still have this issue in combination with [iron-session](https://github.com/vvo/iron-session). Should not be closed.

[2022-02-07 17:16] jakeorr opened #253 "Response "close" event is not emitted"
Passing an event emitter as in the example here: https://github.com/howardabrams/node-mocks-http#createresponse I am seeing the "end" event emitted, but not a "close" event. Is there a reason why "close" isn't triggered? Do you think it should be? This came up while looking at a fix for next-connect and allowing it to detect when the response is complete. https://github.com/hoangvvo/next-connect/p

[2022-02-09 00:51] #245 closed

[2022-02-09 07:27] ruohola commented on #245
Not stale.

[2022-02-14 10:40] ruohola commented on #245
This should be reopened.

[2022-03-28 20:14] cristhian-net commented on #109
For anyone having this problem, you probably need to check if you are returning a value for your mocks `mockedFunction.mockReturnValue(something)`

[2022-04-16 01:02] #253 closed

[2022-05-18 16:05] benbagley opened #255 "Testing Next.js, can't get _getJSONData()"
Hey,

I'm currently creating an application using Next and have built some API endpoints.

I'm testing the following file

[code]

I'm trying to test these lines,
[code]

However, I cannot seem to get the json response, i.e. the statusCode or message.

As for the testing suite I'm using jest and have the following code using this package as a base for the request method

[code]

I get the followin

[2022-05-25 03:05] suciptoid commented on #255
I'm using this snipped on my test

[code]

And the test code
[code]

[2022-05-31 20:53] mtoranzoskw commented on #255
I was dealing with typing... your snippet worked like a charm...
The key is type definition:
[code]

[2022-05-31 20:55] mtoranzoskw commented on #245
For those that are seeing this because they have typing issue, check this out https://github.com/howardabrams/node-mocks-http/issues/255#issuecomment-1136674043
Typing union is the key.

[2022-06-06 14:45] qrtp commented on #255
Thanks @suciptoid it worked for me too 👍

[2022-06-15 20:12] arturenault commented on #255
Almost works for me, but because the types don't match perfectly I get errors with headers. It looks like `node-mocks-http` uses direct indexing for headers, while Next uses `request.headers.get`. I get this error:

[code]

[2022-07-01 09:22] juanantona commented on #255
Really interesting thread! I think that you could just do:
[code]
Since `createRequest` and `createResponse` already extend the types that receive as the docs show:
[code]

On the other hand, @arturenault to test the `request.headers.get` method I'm just mocking it:
[code]
And on my side 😅 , I'm having trouble with `res.headers.set` since `headers` it seems to be not present in the `res` object.

[2022-07-01 18:51] dbrosio3 commented on #233
This is happening to me as well

[2022-08-23 03:49] kkankala commented on #255
I'm unable to test or mock `res.setPreviewData`. I get `TypeError: res.setPreviewData is not a function` error.

[2022-09-27 08:59] sahilrajput03 commented on #255
Actually they types just returns `any`:

![image](https://user-images.githubusercontent.com/31458531/192481928-810c898b-7dba-47d1-86cc-6fa715b63188.png)

![image](https://user-images.githubusercontent.com/31458531/192482078-cd993743-472a-44ca-ad0e-5001ae480fe4.png)

Can we please have types for this library?

[2022-11-09 00:17] b3none opened #260 "Make a release for last merged PR"
Can we release make a release for - https://github.com/howardabrams/node-mocks-http/commit/695a0487c2367872d22bbc266eeb6d2f7591dd31

[2022-11-11 13:22] eugef commented on #260
Version 1.12.1 is released

[2022-11-11 13:22] #260 closed

[2022-11-11 13:22] eugef opened #261 "Setup Travis CI"
Travis CI doesn't work anymore

[2022-11-11 13:24] eugef commented on #261
@howardabrams I don't have enough permissions to setup Travis CI integration with this repo.
Could you please look into this.

[2022-11-16 20:54] siavol opened #262 "Response does not throw an error when sending twice"
Node.js does not allow to send response twice, so the following header
[code]
will generate an error:
[code]

But `node-mock-http` (ver. 1.12.1) is not throwing any error and this unit test fails:
[code]

[2022-11-17 08:45] eugef commented on #262
HI @siavol, could you please check if version 1.11.0 has the same behaviour?

[2022-11-17 20:45] siavol commented on #262
@eugef , I confirm that 1.11.0 has the same behaviour.

[2022-11-17 20:53] siavol commented on #262
I took a look at the code and it is pretty straightforward to not allow setting headers after they are sent to the client. But [mockResponse.send](https://github.com/howardabrams/node-mocks-http/blob/master/lib/mockResponse.js#L154) does not set any headers, so that change will be not enough. Also comment explicitly says that `send` can be called multiple times. I wonder what is the reason of this

[2022-11-18 12:25] eugef commented on #262
That code was written almost 8 years ago, so not sure if we can figure out the reason.

The proper behaviour for the mock would be to throw the same type of error.
If you can create a PR with the fix - your help will be much appreciated.

[2022-11-18 15:13] siavol commented on #262
Thank you! I am ready to take care of this issue. Going to provide PR in a few days.

[2022-11-21 12:55] siavol commented on #262
I've prepared a pull request: https://github.com/howardabrams/node-mocks-http/pull/263